@charset "utf-8";

/*	verticle-rhythm base value: 8px
	-----------------------------------------------------------
	apply to all content below leaderText
	'line-height', 'height', 'outerHeight' should equal to 
	an even multiply/division of the base value 
	(e.g. 10px(0.5x), 20px(1x), 40px(2x), 60px(3x), so on... */


/* ==========================================================================
   IMPORTS
   ========================================================================== */
@import url("content-viewport-img-layout.css");


/* ==========================================================================
   RESET
   ========================================================================== */
   
/* first-child */
.contentViewport h1:first-child,	.contentViewport h1.first-child,
.contentViewport h2:first-child,	.contentViewport h2.first-child,
.contentViewport h3:first-child,	.contentViewport h3.first-child,
.contentViewport h4:first-child,	.contentViewport h4.first-child,
.contentViewport h5:first-child,	.contentViewport h5.first-child,
.contentViewport p:first-child,		.contentViewport p.first-child,
.contentViewport div:first-child,	.contentViewport div.first-child,
.contentViewport table:first-child, .contentViewport table.first-child { margin-top:0; }

/* body */
body.ps, .contentViewport { color:#222; font-family:'Asap',sans-serif; font-size:18px; font-weight:400; line-height:26px; }


/* ==========================================================================
   elem - HEADINGS and PARAGRAPH
   ========================================================================== */

/* styles */
.contentViewport h1, .h1 { color:#444444; font-size:48px; line-height:48px; font-weight:700; font-style:italic; margin:0!important; padding: 0px 0px 32px 0px; }
.contentViewport h2, .h2 { color:#444444; font-size:32px; line-height:36px; font-weight:700; font-style:italic; margin:0!important; padding:24px 0px 16px 0px; }
.contentViewport h3, .h3 { color:#444444; font-size:22px; line-height:26px; font-weight:700; font-style:italic; margin:0!important; padding:24px 0px  8px 0px; }  
.contentViewport h4, .h4 { color:#57a2db; font-size:18px; line-height:26px; font-weight:700; font-style:normal; margin:0!important; padding: 0px 0px  0px 0px; }  
.contentViewport h5, .h5 { color:#444444; font-size:16px; line-height:24px; font-weight:700; font-style:normal; margin:0!important; padding: 0px 0px  0px 0px; }  
.contentViewport p,  .p  { color:#222222; font-size:18px; line-height:26px; font-weight:400; font-style:normal; margin:0!important; padding: 0px 0px  9px 0px; }

/* h1.deco */
.contentViewport h1.deco, .h1.deco { 
	width:83%; margin-bottom:42px!important;
	background:url(../../img/bg-dotted-grey.png) left bottom repeat-x; }
	

/* ==========================================================================
   elem - LINK
   ========================================================================== */
   
/* default */
.contentViewport a 				{ color:#57a2db; text-decoration:none; }
.contentViewport a:hover,
.contentViewport a:focus,
.contentViewport a:active { color:#57a2db; text-decoration:underline; }


/* ==========================================================================
   elem - LIST
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* lv1 */

/* container */
.contentViewport ul,
.contentViewport ol { margin:0 0 0 2px; padding:9px 0 18px 0; list-style:none; }
.contentViewport ol { margin-left:22px; list-style-type:decimal; list-style-position:outside; }

/* item */
.contentViewport li 						{ color:#222; font-size:18px; line-height:26px; margin:0 0 0 0; }
.contentViewport li.first-child { margin-top:0; }
.contentViewport li:first-child { margin-top:0; }

/* item bullet */
.contentViewport li 		{ padding:0 0 0 20px; background:url(../../img/blt-list-lv1.png) 0px 10px no-repeat; }
.contentViewport ol li 	{ padding:0 0 0 0; background:none; }

/* -------------------------------------------------------------------------- */
/* lv2 */

/* container */
.contentViewport ul ul,
.contentViewport ul ol,
.contentViewport ol ol,
.contentViewport ol ul { padding:0 0 0 0; }
.contentViewport ol ol { list-style:lower-alpha; }

.contentViewport li ul { margin-left:4px; }
.contentViewport li ol { margin-left:24px; }


/* item */
.contentViewport li li.first-child { margin-top:0px; }
.contentViewport li li:first-child { margin-top:0px; }

/* item bullet */
.contentViewport li li 			{ padding:0 0 0 20px; background:url(../../img/blt-list-lv2.png) 0px 10px no-repeat; }
.contentViewport li ol li 	{ padding:0 0 0 0; background:none; }

/* -------------------------------------------------------------------------- */
/* extensions */

/* ol */
.contentViewport ol.listAlpha   { list-style:lower-alpha; }
.contentViewport ol.listRoman   { list-style:lower-roman; }
.contentViewport ol.listDecimal { list-style:decimal; }

/* -------------------------------------------------------------------------- */
/* IE fix */
.ie7 .contentViewport ul 				{ margin-left:18px; }
.ie7 .contentViewport ol 				{ margin-left:22px; }
.ie7 .contentViewport ul li 		{ list-style:disc; background:none; padding-left:6px; } 
.ie7 .contentViewport ol li 		{ list-style:decimal; }
.ie7 .contentViewport ol ul li 	{ list-style:disc; }
.ie7 .contentViewport ol ol li 	{ list-style:lower-alpha; } 
.ie7 .contentViewport li ul 		{ margin-left:22px; }
.ie7 .contentViewport li ol 		{ margin-left:28px; }
.ie7 .contentViewport li ul li 	{ padding-left:6px; }
.ie7 .contentViewport li ol li 	{ padding-left:0; }

.ie6 .contentViewport ul 				{ margin-left:18px; }
.ie6 .contentViewport ol 				{ margin-left:22px; }
.ie6 .contentViewport ul li 		{ list-style:disc; background:none; padding-left:6px; } 
.ie6 .contentViewport ol li 		{ list-style:decimal; }
.ie6 .contentViewport ol ul li 	{ list-style:disc; }
.ie6 .contentViewport ol ol li 	{ list-style:lower-alpha; } 
.ie6 .contentViewport li ul			{ margin-left:22px; }
.ie6 .contentViewport li ol 		{ margin-left:28px; }
.ie6 .contentViewport li ul li 	{ padding-left:6px; }
.ie6 .contentViewport li ol li 	{ padding-left:0; }


/* ==========================================================================
   style - LEADERTEXT
   ========================================================================== */
.contentViewport .leaderText  { 
	width:83%;
	color:#444; font-size:24px; line-height:28px; font-weight:700; font-style:italic; margin:0!important; padding:0px 0px 1em 0px; }


/* ==========================================================================
   style - BLOCKQUOTE/CITE
   ========================================================================== */

/* blockquote */
.contentViewport blockquote p:before,
.contentViewport blockquote p:after { 
	content:''; }
	
/* container */
.contentViewport blockquote,
.contentViewport .blockquote { 
	display:block; position:relative; width:auto; max-width:446px; height:auto; margin:18px 0 27px 0; padding:40px 24px 24px 80px;
	color:#333; background:#f7f7f7 url(../../img/bg-quote.png) 34px 36px no-repeat;
	/*border-radius*/-webkit-border-radius:6px; border-radius:6px;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }

/* custom - inside grey */
.grey .contentViewport blockquote,
.grey .contentViewport .blockquote { background-color:#fff; }
	
	/* common */
	.contentViewport blockquote,
	.contentViewport blockquote p,
	.contentViewport blockquote li,
	.contentViewport blockquote span,
	.contentViewport .blockquote,
	.contentViewport .blockquote p,
	.contentViewport .blockquote li,
	.contentViewport .blockquote span { 
		color:#333; font-size:22px; font-weight:700; line-height:28px; font-style:italic; }
	
	/* main content width limit */
	.contentViewport blockquote > p,
	.contentViewport blockquote > li { width:95%; }

	/* cite */
	.contentViewport blockquote cite,
	.contentViewport blockquote .cite,
	.contentViewport .blockquote cite,
	.contentViewport .blockquote .cite {	
		display:block; padding:9px 0 9px 0;
		text-align:right; }
		

/* ==========================================================================
   style - TEXT
   ========================================================================== */

/* acronym */
.contentViewport acronym {
	border-bottom:1px dotted #666; cursor:pointer; }

/* caption */
.contentViewport .caption {
	color:#333; font-size:16px; font-weight:400; line-height:24px; }

/* cite */
.contentViewport cite,
.contentViewport .cite {
	color:#ababab; font-size:14px; font-weight:400; font-style:normal; line-height:16px; }

/* date */
.contentViewport .date {
	color:#aaacad; font-size:13px; font-weight:700; text-transform:uppercase; }

/* note */
.contentViewport .note {
	color:#333; font-size:16px; font-weight:700; }

/* quote */
.contentViewport .quote	{ 
	color:#57a2db; font-size:22px; line-height:30px; font-weight:400; font-style:italic; }
.contentViewport p.quote { 
	max-width:83%; padding:18px 0 27px 0; }

/* reference */ 
.contentViewport .reference { 
	color:#333; font-size:16px; font-weight:400; font-style:normal; }

/* title */ 
.contentViewport .title { 
	color:#333; font-size:22px; line-height:24px; font-weight:700; font-style:italic; }

/* -------------------------------------------------------------------------- */
/* assistive */

/* inlineTextHighlight */
.contentViewport .inlineTextHighlight {
	color:#fff; background:#ff0080; }

/* discreetText */
.contentViewport .discreetText {
	color:#888; font-size:13px; font-weight:400; }
	
/* small */ 
.contentViewport .small { 
	font-size:13px; }


/* ==========================================================================
   cog - DIVIDER
   ========================================================================== */

/* common */
.divider,
.contentViewport .divider { 	
	display:block; width:100%; margin:0; padding:0; float:none; clear:both; overflow:hidden;
	font-size:0; line-height:0; text-indent:-9999em; text-align:center; }

/* -------------------------------------------------------------------------- */
/* extend */

/* dotted */
.dividerDotted, .contentViewport .dividerDotted {
	height:20px; margin:9px 0 0 0; background:url(../../img/bg-dotted-grey.png) left top repeat-x; }
	
/* dotted.blu */
.dividerDotted.blu, .contentViewport .dividerDotted.blu {
	background-image:url(../../img/bg-dotted-blue.png); }

/* lite */
.dividerLite, .contentViewport .dividerLite {
	border-top:1px solid #57a1da; height:19px; margin:9px 0 0 0; }


/* ==========================================================================
   cog - SPECIALBOX
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* specialBox */
.contentViewport .specialBox {
	display:block; position:relative; width:auto; max-width:500px; height:auto; margin:18px 0 27px 0; padding:20px 25px 12px 25px; overflow:hidden;
	color:#333; background:#f7f7f7;
	/*border-radius*/-webkit-border-radius:4px; border-radius:4px;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
		
/* specialBox inside grey */
.grey .contentViewport .specialBox { 
	background:#fff; }
	
	/*title*/
	.contentViewport .specialBox .title { color:#57a1da; }
		
	/* a */
	.contentViewport .specialBox a { color:#57a1da!important; }
	
	/* ul */
	.contentViewport .specialBox ul,
	.contentViewport .specialBox ol { padding:0 0 9px 0; }
	
	/* header */
	.contentViewport .specialBox > .header { display:none; }
	
/* -------------------------------------------------------------------------- */
/* extend */	

/* specialBox.withHeader */
.contentViewport .specialBox.withHeader {  }
	
	/* header */
	.contentViewport .specialBox.withHeader > .header { 
		display:block; position:relative; width:auto; height:auto; margin:-20px -25px 20px -25px; padding:6px 25px; overflow:hidden;
		color:#fff; background:#57a1da; }
	
		/* icon */
		.contentViewport .specialBox > .header > .icon {
			position:absolute; top:6px; right:10px; width:24px; height:24px; margin:0; padding:0; overflow:hidden;
			color:#fff; font-size:0; line-height:0; }
		.ie7 .contentViewport .specialBox > .header > .icon,
		.contentViewport .specialBox > .header > .icon:before { 
			font-size:20px; line-height:24px; }
			
/* specialBox.withIcon */
.contentViewport .specialBox.withIcon { 
	max-width:450px; min-height:26px; padding:15px 40px 6px 60px; }
	
	/* icon */
	.contentViewport .specialBox.withIcon > .icon { 
		position:absolute; top:0; left:0; width:46px; height:56px; margin:0; padding:0; overflow:hidden;
		color:#fff; background:#57a1da; font-size:0; line-height:0; }
	.ie7 .contentViewport .specialBox.withIcon > .icon,
	.contentViewport .specialBox.withIcon > .icon:before { 
		font-size:21px; line-height:56px; }


/* ==========================================================================
   cog - TABLE
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* styledTable */
.contentViewport .styledTable {
	display:table; width:100%; margin:18px 0 27px/*27-0(border)*/ 0;
	color:#222; background:#fff; border-bottom:none; 
	font-size:18px; line-height:26px; }
	
	/* p */
	.contentViewport .styledTable p { 
		font-size:18px; line-height:26px; padding:0 0 9px 0; }
	.contentViewport .styledTable p:last-child { 
		padding-bottom:0; }
		
	/* th/td */
	.contentViewport .styledTable th,
	.contentViewport .styledTable td { 
		text-align:left; border:0; padding:9px 12px 9px 12px; }
	.contentViewport .styledTable td { 
		border-bottom:1px solid #ebeae8; padding:9px 12px 8px/*9-1(border)*/ 12px; }
	.contentViewport .styledTable tr.noBorder td { 
		border:none; padding-bottom:9px; }
		
	/* th */
	.contentViewport .styledTable th,
	.contentViewport .styledTable th p { 
		background:#57a1da; color:#fff; font-size:18px; font-weight:700; line-height:26px; }
	.contentViewport .styledTable th p { 
		padding-bottom:0; }
	
	/* a */
	.contentViewport .styledTable a:hover { 
		text-decoration:underline; cursor:pointer; }
		
	/* alt/highlight */
	.contentViewport .styledTable td.highlight,
	.contentViewport .styledTable td.alt { 
		background:#f7f7f7; }
		
	/* round corners */
	.contentViewport .styledTable th { 
		/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
	.contentViewport .styledTable th:first-child { 
		/*border-radius*/-webkit-border-radius:3px 0 0 3px; border-radius:3px 0 0 3px; }
	.contentViewport .styledTable th:last-child { 
		/*border-radius*/-webkit-border-radius:0 3px 3px 0; border-radius:0 3px 3px 0; }

/* -------------------------------------------------------------------------- */
/* layoutMode */
.contentViewport table.layoutMode { width:auto; color:#222; border-collapse:collapse; }
.contentViewport table.layoutMode,
.contentViewport table.layoutMode th,
.contentViewport table.layoutMode td { margin:0; padding:0; }


/* ==========================================================================
   cog - BUTTON
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* common */
.btnText.right,
.btnBox.right { margin-right:0; margin-left:18px; }

/* -------------------------------------------------------------------------- */
/* btnText */
.btnText { 
	display:inline-block; position:relative; margin:0 18px 18px 0; padding:0; width:auto; height:26px; vertical-align:middle;
	text-decoration:none!important; outline:0 none!important; cursor:pointer; }
.btnText:hover,
.btnText:focus,
.btnText:active { 
	text-decoration:none!important; }

	/* label */
	.btnText,
	.btnText .label { 
		overflow:hidden; white-space:nowrap; text-overflow:ellipsis; vertical-align:middle;
		color:#57a2db; font-size:18px; font-weight:700; font-style:italic; line-height:26px;
		/*transition*/
		/*-webkit-transform:translate3d(0,0,0);*/
		-webkit-transition:color 0.3s ease-in-out;
		-moz-transition:color 0.3s ease-in-out;
		-o-transition:color 0.3s ease-in-out;
		transition:color 0.3s ease-in-out; }	
	.btnText:hover .label,
	.btnText:focus .label,
	.btnText:active .label { 
		text-decoration:underline!important; }
		
	/* icon */
	.btnText .icon,
	.btnText .iconInline 		{ font-size:0; line-height:0; vertical-align:middle; }
	
	.ie7 .btnText .icon,
	.ie7 .btnText .iconInline,
	.btnText .icon:before,
	.btnText .iconInline:before	{ font-size:14px; line-height:26px; }	

/* -------------------------------------------------------------------------- */
/* btnBox */
.btnBox { 
	display:inline-block; position:relative; width:auto; min-width:60px; height:auto; margin:0 18px 18px 0; padding:0 30px; overflow:hidden;
	background:#297ad4; white-space:nowrap; text-overflow:ellipsis;
	text-decoration:none!important; outline:0 none!important; cursor:pointer;
	/*border-radius*/-webkit-border-radius:3px; border-radius:3px;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
.btnBox:hover,
.btnBox:focus,
.btnBox:active { 
	background:#57a2db; text-decoration:none!important; }

	/* label */
	.btnBox,
	.btnBox .label { 
		color:#fff!important; text-align:center; vertical-align:middle;
		font-weight:700; font-size:14px; line-height:40px; text-transform:uppercase; }	
	.btnBox:hover .label,
	.btnBox:focus .label,
	.btnBox:active .label { 
		text-decoration:none!important; }	
		
	/* icon */
	.btnBox .icon,
	.btnBox .iconInline { font-size:0; line-height:0; vertical-align:middle; }
	
	.ie7 .btnBox .icon,
	.ie7 .btnBox .iconInline,
	.btnBox .icon:before,
	.btnBox .iconInline:before { font-size:14px; line-height:40px; }	


/* ==========================================================================
   style - MISC
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* override */
.contentViewport .iconInline.left { padding-right:8px }
.contentViewport .iconInline.right { padding-left:8px }

/* -------------------------------------------------------------------------- */
/* helpers */
.contentViewport .clearer {	float:none; clear:both; height:0; line-height:0; overflow:hidden; visibility:hidden; }

/* -------------------------------------------------------------------------- */
/* widgets */
.contentViewport .interaction,
.contentViewport .flashcontent { display:block; position:relative; margin:0 auto 18px auto; padding:0; overflow:hidden; }
