/* ==========================================================================
   Base styles: opinionated defaults
   Author: JX 20130127 (Adapted from HTML5 Boilerplate 4)
   ========================================================================== */

/* base text style */
html, button, input, select, textarea { color:#222; font-family:sans-serif; }
body { font-size:1em; line-height:1.4; }

/* text selection style */
::-moz-selection { color:#fff; background:#222; text-shadow:none; }
::selection { color:#fff; background:#222; text-shadow:none; }

/* simplified hr style */
hr { display:block; height:1px; margin:1em 0; padding:0; border:0; border-top:1px solid #ccc; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img { vertical-align:middle; }

/* Remove default fieldset styles. */
fieldset { border:0; margin:0; padding:0; }

/* Remove default webkit styles on form elements. */
button, input, select, textarea { -webkit-appearance:none; -webkit-border-radius:0; }
button:focus, input:focus, select:focus, textarea:focus { outline: none; }

/* Allow only vertical resizing of textareas. */
textarea { resize:vertical; }

/* Default table cell vertical alignment */
th, td { vertical-align:top; }

/* Chrome Frame prompt */
.chromeframe {
    margin:0.2em 0; padding:0.2em 0;
    color:#000; background:#ccc; }

/* Link styles*/
a           { color: #57a2db; /*theme blue*/ } 
a:visited   { color: #57a2db; /*theme blue*/ }
a:hover     { color: #57a2db; /*theme blue*/ }
a:focus     { color: #57a2db; /*theme blue*/ }

/* Link transitions */
a {
    -webkit-transition-property:color,background-color,border-color;
    -webkit-transition-duration:0.3s;
    -webkit-transition-timing-function:ease-in-out;
    -webkit-transition-delay:0s;

    -moz-transition-property:color,background-color,border-color;
    -moz-transition-duration:0.3s;
    -moz-transition-timing-function:ease-in-out;
    -moz-transition-delay:0s;

    -o-transition-property:color,background-color,border-color;
    -o-transition-duration:0.3s;
    -o-transition-timing-function:ease-in-out;
    -o-transition-delay:0s;

    transition-property:color,background-color,border-color;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s; }


/* ==========================================================================
   Primary Styles
   Author: JX 201404
   ========================================================================== */


/* ==========================================================================
   structure - GLOBAL
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* loader */
#loader { 
	display:none; position:absolute; top:180px; left:50%; width:70px; height:70px; margin:0 0 0 -35px; padding:0; overflow:hidden; }

/* -------------------------------------------------------------------------- */
/* webfont */

/* loading */
.js #container { 
	visibility:hidden; opacity:0;
	/*transition*/
	/*-webkit-transform:translate3d(0,0,0);*/
	-webkit-transition:opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
	-o-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out; }

/* loading */
.wf-loading #loader 	{ display:block; }

/* active */
.wf-active #container,
.wf-inactive #container	{ visibility:visible; opacity:1; }

.wf-active #loader,
.wf-inactive #loader 	{ display:none!important; }

/* -------------------------------------------------------------------------- */
/* body */
body.ps { 
	position:relative; margin:0; padding:0;
	color:#222; background:#ebeae8; 
	font-family:'Asap',sans-serif; font-size:18px; font-weight:400; line-height:26px; }
	
	/* -------------------------------------------------------------------------- */
	/* blockings */
	#container, 
		#header, #banner, #content, #footer, .section,
			#header 	> .padder,
			#banner 	> .padder,
			#content 	> .padder,
			#footer 	> .padder,
			.section 	> .padder { 
		display:block; position:relative; width:auto; height:auto; margin:0 auto; padding:0; }
		
	/* container */
	#container { 
		min-width:960px; max-width:1280px; }
	
	/* sections */
	#header, #banner, #content, #footer, .section { 
		width:auto; }	
		
	/* padders */
	#header 	> .padder,
	#banner 	> .padder,
	#content 	> .padder,
	#footer 	> .padder,
	.section 	> .padder {
		width:960px; }


/* ==========================================================================
   structure - PAGEBG
   ========================================================================== */

/* html canvas */
html, body { height:100% }

/* pageBg */
#pageBg { display:none; }


/* ==========================================================================
   structure - CONTAINER
   ========================================================================== */

/* responsive */
@media only screen and (min-width:1280px) {
	/* add container shadow */
	#container { 
		/*box-shadow*/-webkit-box-shadow:0px 0px 5px 0px rgba(0,0,0,0.25); box-shadow:0px 0px 5px 0px rgba(0,0,0,0.25); }	
}
		

/* ==========================================================================
   structure - HEADER
   ========================================================================== */

/* ------------------------------------------------------------------------------ */
/* container */
#header { background:#fff; }
	
	/* -------------------------------------------------------------------------- */
	/* brand */
	#header .brand { 
		display:block; position:absolute; top:50%; left:20px; width:160px; height:110px; margin:-55px 0 0 0; padding:0;
		text-decoration:none!important; cursor:pointer; }
			
		/* img */
		#header .brand img { 
			display:block; width:100%; height:auto; }
	

/* ==========================================================================
   structure - NAV
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* container */ 
#nav.navItems { 
	margin:0 0 0 200px; padding:60px 0; overflow:hidden;
	text-align:right; }
	
	/* navItem */
	#nav .navItem { 
		display:inline-block; position:relative; width:auto; height:auto; margin:0 10px; padding:0;
		color:#333; font-size:15px; line-height:30px; font-weight:700; font-style:italic;/* IE7: font breaks layout */
		white-space:nowrap; vertical-align:middle;
		text-decoration:none!important; outline:0 none!important;
		/*transition*/
		/*-webkit-transform:translate3d(0,0,0);*/
		-webkit-transition:color 0.3s ease-in-out;
		-moz-transition:color 0.3s ease-in-out;
		-o-transition:color 0.3s ease-in-out;
		transition:color 0.3s ease-in-out; }
		
		/* underline */
		#nav .navItem:after { 
			content:'';
			display:none; position:absolute; left:0; bottom:0; width:100%; height:2px; overflow:hidden;
			background:url(../img/bg-dotted-blue.png) left bottom repeat-x;
			border:4px solid #fff; border-top:none; border-bottom:none; 
			/*box-sizing*/-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
		
	/* oldie fix */
	.oldie #nav .navItem { letter-spacing:-1px; }	
	
	/* ie7 overflow-x fix */
	.ie7 #nav .navItem { float:left; }
		
	/* navItem - interaction */	
	.no-touch #nav .navItem:hover,
	.no-touch #nav .navItem:focus,
	.touch #nav .navItem:active { 
		color:#57a2db; }
	
	/* navItem - selected */
	#nav .navItem.selected,
	.no-touch #nav .navItem.selected:hover,
	.no-touch #nav .navItem.selected:focus,
	.touch #nav .navItem.selected:active { 
		color:#57a2db; cursor:pointer; }
		
		#nav .navItem.selected:after { 
			display:block; }


/* ================================================================================================== */
/* structure - SIDENAV */
/* ================================================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#sideNav { 
	list-style:none; margin:0; padding:0; width:auto; height:auto; }
	
/* genesis contextmenu output error fix */
#sideNav + ul { display:none; }

	/* ------------------------------------------------------------------------------ */
	/* icon */
	#sideNav .icon {	 
		display:none; position:absolute; width:1em; height:1em; margin:0; overflow:hidden;
		font-size:12px; line-height:1em; text-align:left; text-indent:0;
		/*transition*/
		/*-webkit-transform:translate3d(0,0,0);*/
		-webkit-transition:none 0.3s ease-in-out;
		-moz-transition:none 0.3s ease-in-out;
		-o-transition:none 0.3s ease-in-out;
		transition:none 0.3s ease-in-out; }
	
	/* position */
	#sideNav li li .icon { top:13px; left:3px; }
	
	/* interaction */
	#sideNav a:hover .icon,
	#sideNav a:focus .icon {  }
	
	#sideNav li.selected .icon,
	#sideNav li .selected .icon { }
	
	#sideNav li li.selected > a .icon,
	#sideNav li li.selected > a:hover .icon,
	#sideNav li li.selected > a:focus .icon { display:block; color:#333!important; }
	
	/* ------------------------------------------------------------------------------ */
	/* level 1 */
	#sideNav li {
		position:relative; margin:0; padding:0; width:100%;
		color:#737373;
		font-size:20px; line-height:24px; font-weight:700; font-style:italic; }
	
	/* oldie shrink text */
	.oldie #sideNav li { letter-spacing:-1px; }
	
	/* IE7 extra bottom gap fix */
	.ie7 #sideNav li { 
		/*line-height:20px;*/ vertical-align:bottom; }
		
		/* ------------------------------------------------------------------------------ */
		/* links */
		#sideNav li a,
		#sideNav li a:link,
		#sideNav li a:active,
		#sideNav li a:visited {
			display:block; position:relative; width:auto; margin:0; padding:8px 0; 
			color:#737373; text-decoration:none; }		
		
		/* interaction */
		#sideNav li a:hover,
		#sideNav li a:focus { 
			color:#57a2db; text-decoration:none; }
		
		/* ------------------------------------------------------------------------------ */
		/* selected */
		#sideNav li.selected {  }
		
		#sideNav li.selected a { cursor:pointer; }
		#sideNav li.selected a:hover,
		#sideNav li.selected a:focus {  }
		
		#sideNav li.selected > a { color:#57a2db; }
		
		#sideNav li.selected a.selected,
		#sideNav li.selected a.selected:hover,
		#sideNav li.selected a.selected:focus { color:#57a2db; text-decoration:none; cursor:default; pointer-events:none; }
	
	/* ------------------------------------------------------------------------------ */
	/* level 2 container */
	#sideNav li ul { display:none; padding:0 0 6px 0; }
	#sideNav li.selected > ul { display:block; }
	
	/* normalize items */
	#sideNav li ul,
	#sideNav li li,
	#sideNav li li.selected,
	#sideNav li li a,
	#sideNav li li.selected a,
	#sideNav li li.selected a.selected 	{ margin:0!important; list-style:none!important; border:none!important; background:none!important; }
	
	/* level 2 item */
	#sideNav li li { font-size:18px; line-height:22px; font-weight:400; font-style:normal; }
	
	/* oldie shrink text */
	.oldie #sideNav li li { letter-spacing:0; }
	
	/* IE7 extra bottom gap fix */
	.ie7 #sideNav li li { /*line-height:18px;*/ }
		
		/* links */
		#sideNav li li a,
		#sideNav li li a:link,
		#sideNav li li a:active,
		#sideNav li li a:visited { color:#999; width:auto; padding:7px 0; background:none!important; cursor:pointer!important; }
		
		#sideNav li li a span { display:inline-block; width:auto; padding-left:18px; }
		
		/* interaction */
		#sideNav li li a:hover,
		#sideNav li li a:focus { color:#444; text-decoration:none!important; }
		
		#sideNav li li.selected > a,
		#sideNav li li.selected > a:hover,
		#sideNav li li.selected > a:focus { color:#444!important; cursor:default!important; pointer-events:none; }
		
		#sideNav li li.selected > a:hover,
		#sideNav li li.selected > a:focus,
		#sideNav li li.selected > a:hover span,
		#sideNav li li.selected > a:focus span	{ text-decoration:none!important; }


/* ==========================================================================
   structure - BANNER
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#banner { overflow:hidden; }	
			
	/* -------------------------------------------------------------------------- */
	/* bgImg */
	#banner .bgImg { 
		display:block; position:absolute; top:0; left:50%; width:1280px; height:250px; margin:0 0 0 -640px; padding:0; }
	#banner .bgImg.slide { 
		top:0!important; left:50%!important; width:1280px!important; height:250px!important; /* override cycle */ }
	
	/* -------------------------------------------------------------------------- */
	/* padder */
	#banner > .padder { height:250px; }
		
		/* -------------------------------------------------------------------------- */	
		/* headline */
		#banner .headline { 
			display:block; position:absolute; top:50%; left:20px; width:auto; max-width:60%; height:auto; margin:-0.7em 0 0 0; padding:0;
			color:#fff; white-space:nowrap; text-overflow:ellipsis;
			font-size:32px; line-height:1.4em; font-weight:700; font-style:italic;
			text-shadow:1px 1px 0 rgba(0,0,0,0.4); }
			

/* ==========================================================================
   structure - CONTENT SHELL
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#content { background:#fff; }
#content.grey { background:#f7f7f7; }
	
	/* -------------------------------------------------------------------------- */
	/* common */
	#main,
	#aside 	{ position:relative; width:auto; height:auto; margin:0; padding:0; }
	
	/* -------------------------------------------------------------------------- */
	/* main */
	#main 	{ width:640px; padding:50px 20px 50px 0; float:right; clear:right; min-height:600px; }
	
	/* -------------------------------------------------------------------------- */
	/* aside */
	#aside 	{ width:200px; padding:50px 0 50px 20px; float:left; clear:left; }
		

/* ==========================================================================
   structure - FOOTER
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#footer { 
	background:#fff; border-top:1px solid #dcdbd9; }
	
	/* padder */
	#footer > .padder { padding-top:45px; }
	
	/* -------------------------------------------------------------------------- */
	/* footerContacts */
	#footerContacts { 
		max-width:62.5%; margin:0 0 0 80px;
		color:#333; font-size:14px; line-height:24px; }
		
		/* p */
		#footerContacts p { margin:0; }
		
		/* b */
		#footerContacts b { display:inline-block; margin-right:4px; font-size:16px; }
		
		/* a */
		#footerContacts a { text-decoration:none; font-style:italic; }
		#footerContacts a:hover { text-decoration:underline; }
	
	/* -------------------------------------------------------------------------- */
	/* footerLinks */
	
	/* common */
	#footerLinks,
	#footerLinks li { 
		list-style:none; margin:0; padding:0;
		color:#333; font-size:14px; font-weight:400; line-height:1em; }
	
	/* container */
	#footerLinks { margin-left:80px; padding:20px 0 30px 0; }
	
		/* li */
		#footerLinks li { 
			margin-left:8px; padding-left:8px; float:left; 
			border-left:1px solid #777; }
		#footerLinks li:first-child { 
			margin:0; padding:0; border:none; }
			
			/* a */
			#footerLinks a { color:#333; text-decoration:none; }
			#footerLinks a:hover,
			#footerLinks a:focus,
			#footerLinks a:active { color:#333; text-decoration:underline; }
			
	/* -------------------------------------------------------------------------- */
	/* btnFW */
	#btnFW { 
		display:block; position:absolute; top:50%; right:70px; width:160px; height:20px; margin:-6px 0 0 0; padding:0; overflow:hidden;
		background:url(../img/btn-fw.png) center center no-repeat; border:none; }
			

/* ==========================================================================
   structure - COLUMNS
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* columns common */
.colFull,
.col2a,
.col2b,
.col3a,
.col3b,
.col3c { display:block; position:relative; height:auto; margin:0; padding:0; overflow:visible; }

/* -------------------------------------------------------------------------- */
/* contentViewport */
.colFull .contentViewport,
.col2a   .contentViewport,
.col2b   .contentViewport,
.col3a   .contentViewport,
.col3b   .contentViewport,
.col3c   .contentViewport { width:auto; }
	
/* -------------------------------------------------------------------------- */
/* colFull */
.colFull { width:auto; float:none; clear:both; }
	
/* -------------------------------------------------------------------------- */
/* col2 */
.col2a,
.col2b { width:47%; }
.col2a { float:left; clear:left; }
.col2b { float:right; clear:right; }

/* -------------------------------------------------------------------------- */
/* col3 */
.col3a,
.col3b,
.col3c 						{ width:29.6%; }
.col3a 						{ float:left; clear:left; }
.col3b,
.formView .col3b 	{ float:left; clear:none; margin-left:5.6%; }
.col3c 						{ float:right; clear:right; }


/* ==========================================================================
   common - SYSMSG
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* container */
.sysmsg { 
	position:relative; width:auto; height:auto; margin:9px 0 18px 0; padding:20px 25px 12px 25px; overflow:hidden;
	color:#fff; background:#f7f7f7; text-align:center; 
	font-size:18px; font-weight:400; line-height:26px;
	/*border-radius*/-webkit-border-radius:6px; border-radius:6px;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
	
	/* common */
	.sysmsg h3,
	.sysmsg h4,
	.sysmsg p,
	.sysmsg li 	{ margin:0; padding:0 0 9px 0; }
	
	/* custom */
	.sysmsg h3,
	.sysmsg h4 	{ font-size:20px; font-weight:700; }
	.sysmsg a		{ text-decoration:underline; }
		
/* extend */
.sysmsgSuccess 	{ background:#a9d371; }
.sysmsgError 		{ background:#c85599; }


/* ==========================================================================
   common - FORM
   ========================================================================== */

/* -------------------------------------------------------- */
/* container */
.formView { position:relative; width:99%; margin:0; padding:0; }

	/* form */
	.formView form {
		display:block; position:relative; width:100%; height:auto; margin:0; padding:0; }
		
		/* -------------------------------------------------------- */
		/* placeholder */
		::-webkit-input-placeholder	{ color:#888; }
		:-moz-placeholder 					{ color:#888; }
		::-moz-placeholder 					{ color:#888; }
		:-ms-input-placeholder			{ color:#888; }
		
		/* -------------------------------------------------------- */
		/* fieldset */
		.formView fieldset { 
			display:block; position:relative; margin:0; padding:0; border:0; }
		
		/* -------------------------------------------------------- */
		/* label */			
		.formView label { 
			display:block; margin:0; padding:26px 0 0 0;
			color:#333; vertical-align:baseline; white-space:nowrap; text-overflow:ellipsis;
			font-size:18px; font-weight:700; line-height:40px; }
		
		/* inline */
		.formView label.inline { 
			display:inline-block; margin:0; padding:26px 0 0 18px; line-height:26px; overflow:hidden;
			white-space:normal; vertical-align:middle; }
		.formView input.styled + label.inline { 
			width:80%; } /* prevent wrappnig */
			
		/* disabled */
		.formView .disabled label { 
			color:#666; }
		
		/* -------------------------------------------------------- */
		/* radio/checkbox */
		
		/* default */
		.formView input.radio,
		.formView input.checkbox { /*by JS*/ }
		
		/* custom-form-elements */
		.formView span.radio,
		.formView span.checkbox	{ 
			display:inline-block; width:32px; height:32px; margin:26px 0 0 0; padding:0;
			background:url(../img/radio-custom.png) no-repeat; vertical-align:middle;
			cursor:pointer!important; }
		.formView span.checkbox { 
			background-image:url(../img/checkbox-custom.png); }
		
		/* disabled */
		.formView .disabled span.radio,
		.formView .disabled span.checkbox { 
			cursor:default!important; }
			
		/* -------------------------------------------------------- */
		/* input */
		.formView input.text { 
			display:block; width:95.75%; height:20px; margin:0; padding:12px 2%; overflow:hidden;
			color:#333; background:#f3f4f5; border:1px solid #cecece;
			font-family:'Asap',sans-serif; font-size:18px; line-height:20px; font-weight:400;
			/*border-radius*/-webkit-border-radius:3px; border-radius:3px;
			/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
		
		/* interaction */
		.formView input.text:focus,
		.formView input.text:active { 
			color:#333; border-color:#57a1da;
			/*box-shadow*/-webkit-box-shadow:0px 0px 0px 1px #57a1da; box-shadow:0px 0px 0px 1px #57a1da; }
		.formView input.text[disabled] { 
			color:#ccc!important; opacity:1!important; }
		
		/* datepicker */
		.formView input.text.datepicker + .icon { 
			bottom:16px; right:14px; width:14px; height:14px;
			color:#333; font-size:14px; line-height:14px;
			cursor:pointer!important; }
		.formView input.text.datepicker + .icon:hover { 
			color:#297ad4; }
		
		/* nesting */
		.formView .col2 > input.text 									{ width:91.25%; padding-left:4%; padding-right:4%; }
		.formView .col2 > .col2 > input.text 					{ width:83.25%; padding-left:8%; padding-right:8%; }
		.formView .col2 > .col3 > input.text 					{ width:75.25%; padding-left:12%; padding-right:12%; }
		.formView .col2 > .col2 > .col2 > input.text 	{ width:67.25%; padding-left:16%; padding-right:16%; }
		
		/* ------------------------------------------------------------------------------ */
		/* select */
		.formView select,
		.formView .select { 
			display:block; width:92.75%; height:20px; margin:0; padding:12px 5% 12px 2%; overflow:hidden;
			color:#333; background:#f3f4f5; border:1px solid #cecece;
			font-family:'Asap',sans-serif; font-size:18px; line-height:20px; font-weight:400;
			cursor:pointer!important;
			/*border-radius*/-webkit-border-radius:3px; border-radius:3px;
			/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
		
		/* custom-form-elements */
		
		/* same dimension as .select */
		.formView select 				{ position:relative; width:100%!important; height:44px!important; margin:0; padding:1px; border:none;
								  						/*box-sizing*/-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; } 
		/* put <select> on top */
		.formView .select 			{ position:absolute; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; } 
		
		/* optimise position for IE7 */
		.ie7 .formView select 	{ margin-top:10px; } 
		
		/* icon */
		.formView .select .icon { right:4px; top:50%; width:24px; height:24px; margin:-12px 0 0 0; font-size:14px; line-height:24px; }
		
		/* nesting */
		.formView .col2 > .select 								{ width:85.25%; padding-left:4%; padding-right:10%; }
		.formView .col2 > .col2 > .select 				{ width:71.25%; padding-left:8%; padding-right:20%; }
		.formView .col2 > .col3 > .select 				{ width:57.25%; padding-left:12%; padding-right:30%; }
		.formView .col2 > .col2 > .col2 > .select { width:43.25%; padding-left:16%; padding-right:40%; }
		
		/* -------------------------------------------------------- */
		/* textarea */
		.formView textarea { 
			display:block; width:95.75%; margin:0; padding:12px 2%; overflow:hidden;
			color:#333; background:#f3f4f5; border:1px solid #cecece; resize:vertical;
			font-family:'Asap',sans-serif; font-size:18px; line-height:26px; font-weight:400;
			/*border-radius*/-webkit-border-radius:3px; border-radius:3px;
			/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
		
		/* interaction */
		.formView textarea:focus,
		.formView textarea:active { 
			color:#333; border-color:#57a1da; 
			/*box-shadow*/-webkit-box-shadow:0px 0px 0px 1px #57a1da; box-shadow:0px 0px 0px 1px #57a1da; }
		.formView textarea[disabled] { 
			color:#666!important; opacity:1!important; }
		
		/* nesting */		
		.formView .col2 > textarea 									{ width:91.25%; padding-left:4%; padding-right:4%; }
		.formView .col2 > .col2 > textarea 					{ width:83.25%; padding-left:8%; padding-right:8%; }
		.formView .col2 > .col3 > textarea	 				{ width:75.25%; padding-left:12%; padding-right:12%; }
		.formView .col2 > .col2 > .col2 > textarea 	{ width:67.25%; padding-left:16%; padding-right:16%; }


/* ==========================================================================
   common - UTILS
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.utils { 
	display:block; position:relative; width:auto; height:auto; margin:0; padding:0; overflow:hidden; }

/* extend utils.top*/
.utils.top { margin-bottom:45px; }

/* exctend utils.btm */
.utils.btm { margin-top:27px; }

/* extend utils.news */
.utils.news { width:536px; /*250x2+36*/ }

/* -------------------------------------------------------------------------- */
/* utilsHeading */
.utilsHeading { display:table; width:100%; }

	/* common */
	.utilsHeading > a,
	.utilsHeading > span { display:inline-block; vertical-align:middle; }
	
	/* a */
	.utilsHeading > a { 
		color:#afafaf;
		text-decoration:none!important; outline:0 none!important; cursor:pointer; }
		
	.no-touch .utilsHeading > a:hover,
	.no-touch .utilsHeading > a:focus,
	.touch .utilsHeading > a:active { 
		color:#57a2db; }
	
	.utilsHeading > a.disabled { 
		color:#ccc!important; pointer-events:none; cursor:default; }
	
	/* heading */
	.utilsHeading > a + .heading,
	.utilsHeading > span + .heading { margin-left:16px; }


/* ==========================================================================
   common - PAGINATION
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.pagination { 
	position:relative; width:auto; height:auto; margin:0; padding:18px 0 27px 0; overflow:hidden;
	text-align:center; }
	
	/* msg */
	.pagination .msg { display:none; }
	
	/* pages */
	.pagination .pages { 
		display:table; width:100%; height:auto; margin:0; padding:0; overflow:hidden; }
	
		/* btnPrev|btnNext */
		.pagination .pages > .btnPrev,
		.pagination .pages > .btnNext { 
			display:inline-block; width:36px; height:36px; margin:0; padding:0; overflow:hidden;
			color:#666; vertical-align:middle; line-height:36px;
			text-decoration:none!important; outline:0 none!important; cursor:pointer; }
		
		/* spacing */
		.pagination .pages > .btnPrev { margin-right:12px; }
		.pagination .pages > .btnNext { margin-left:12px; }
		
		/* interaction */	
		.no-touch .pagination .pages > .btnPrev:hover,
		.no-touch .pagination .pages > .btnPrev:focus,
		.touch .pagination .pages > .btnPrev:active,
		.no-touch .pagination .pages > .btnNext:hover,
		.no-touch .pagination .pages > .btnNext:focus,
		.touch .pagination .pages > .btnNext:active { 
			color:#297ad4; }
		
		/* disabled */
		.pagination .pages > .btnPrev.disabled,
		.pagination .pages > .btnNext.disabled { 
			color:#d2d4d6!important;
			pointer-events:none; cursor:default; }
		
		/* btnPage */
		.pagination .pages > .btnPage { 
			display:inline-block; width:2em; height:2em; margin:0 2px; padding:0; overflow:hidden;
			color:#666; background:#fff; vertical-align:middle;
			font-size:18px; font-weight:700; line-height:2em;
			text-decoration:none!important; outline:0 none!important;
			/*border-radius*/-webkit-border-radius:3px; border-radius:3px;
			/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
		
		/* interaction */	
		.no-touch .pagination .pages > .btnPage:hover,
		.no-touch .pagination .pages > .btnPage:focus,
		.touch .pagination .pages > .btnPage:active { 
			background:#ebeae8; }
			
		/* selected */	
		.pagination .pages > .btnPage.selected { 
			color:#fff; background:#297ad4!important;
			pointer-events:none; }
			

/* ==========================================================================
   common - LISTING
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.listing { 
	display:block; position:relative; width:auto; height:auto; margin:0; padding:0; }

/* extend */
.listing.news { display:table; width:100%; }
.listing.resources { padding-top:12px; }


/* ==========================================================================
   common - ITEMS TILE (NEWS)
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.itemTile { 
	display:inline-block; width:auto; height:auto; margin:18px; padding:0; overflow:hidden;
	background:#fff; vertical-align:top;
	/*box-shadow*/-webkit-box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15); box-shadow:0px 0px 6px 0px rgba(0,0,0,0.15);
	/*border-radius*/-webkit-border-radius:3px; border-radius:3px;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box;
	/*transition*/
	/*-webkit-transform:translate3d(0,0,0);*/
	-webkit-transition:webkit-box-shadow 0.3s ease-in-out;
	-moz-transition:box-shadow 0.3s ease-in-out;
	transition:box-shadow 0.3s ease-in-out; }
	
	/* imgThumb */
	.itemTile .imgThumb { 
		display:block; width:100%; height:auto; min-height:165px; margin:0; padding:0; overflow:hidden;
		background:#f7f7f7 url(../img/img-crest-grey.png) center center no-repeat; }
		
		/* img */
		.itemTile .imgThumb img { display:block; width:100%; height:auto; }
		
	/* padder */
	.itemTile > .padder { display:block; padding:20px 20px 11px 20px; overflow:hidden; }
	.itemTile > .padder > span { display:block; margin-bottom:9px; }
	
		/* date */
		.itemTile .padder .date {  }
		
		/* title */
		.itemTile .padder .title { margin-bottom:18px; min-height:72px;/*3 lines: 24x3*/ text-decoration:none; }
 
/* -------------------------------------------------------------------------- */
/* extend a */
a.itemTile { text-decoration:none!important; outline:0 none!important; cursor:pointer; }

.no-touch a.itemTile:hover,
.no-touch a.itemTile:focus,
.touch a.itemTile:active { 
	/*box-shadow*/-webkit-box-shadow:0px 0px 8px 0px rgba(0,0,0,0.4); box-shadow:0px 0px 8px 0px rgba(0,0,0,0.4); }
	
	.no-touch a.itemTile:hover .title,
	.no-touch a.itemTile:focus .title,
	.touch a.itemTile:active .title { text-decoration:underline; }
 
/* -------------------------------------------------------------------------- */
/* extend */
.itemTile.news 			{ width:250px; margin:9px 36px 27px 0; }


/* ==========================================================================
   common - ITEMS LIST (EVENTS and RESOURCES)
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.itemList { 
	position:relative; margin:0 0 16px 0; padding:0; overflow:hidden; }

	/* -------------------------------------------------------------------------- */
	/* header */
	.itemList > .header { 
		position:relative; width:auto; height:auto; min-height:22px; margin:0; padding:12px 20px 12px 66px; overflow:hidden;
		color:#333; background:#fff; font-size:20px; font-weight:700; line-height:22px; font-style:italic; }
		
		/* icon */
		.itemList > .header > .icon { 
			position:absolute; top:0; left:0; width:46px; height:100%; margin:0; padding:0; overflow:hidden;
			color:#fff; background:#5c9fda; font-size:24px; line-height:46px;
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:none 0.3s ease-in-out;
			-moz-transition:none 0.3s ease-in-out;
			-o-transition:none 0.3s ease-in-out;
			transition:none 0.3s ease-in-out; }
			
		/* a */
		.itemList > .header a 			{ color:#333; text-decoration:none; }
		.itemList > .header a:hover,
		.itemList > .header a:focus,
		.itemList > .header a:active 	{ color:#333; text-decoration:underline; }
			
	/* -------------------------------------------------------------------------- */
	/* padder */
	.itemList > .padder { 
		width:auto; height:auto; margin:0; padding:12px 20px 0 66px; }

/* -------------------------------------------------------------------------- */
/* extend - event */
.itemList.event { 
	position:relative; margin:0; padding:0; overflow:hidden; }

	/* -------------------------------------------------------------------------- */
	/* header */
	.itemList.event > .header { 
		height:36px; padding:0 20px 0 50px;
		white-space:nowrap; text-overflow:ellipsis; text-transform:uppercase;
		color:#fff; background:#c8c8c8; font-size:14px; line-height:36px; font-style:normal; }
	.itemList.event.today > .header { 
		background:#a1ca6c; }
		
		/* icon */
		.itemList.event > .header > .icon { 
			width:36px; font-size:18px; line-height:36px; font-style:normal; }
		.itemList.event.today > .header > .icon { 
			background:#8cb951; }
			
		/* a */
		.itemList.event > .header a,
		.itemList.event > .header a:hover,
		.itemList.event > .header a:focus,
		.itemList.event > .header a:active 	{ color:#fff; }
			
	/* -------------------------------------------------------------------------- */
	/* padder */
	.itemList.event > .padder { padding:0 20px 0 50px; }
	
		/* -------------------------------------------------------------------------- */
		/* evt */
		.itemList.event .evt { 
			padding:22px 0 14px 0; border-top:1px solid #ddd; }
		.itemList.event .evt:first-child { 
			border-top:none; }
			
			/* time */	
			.itemList.event .evt .time { 
				width:160px; height:auto; margin:0; padding:0; overflow:hidden; float:right; clear:right;
				white-space:nowrap; text-overflow:ellipsis; text-transform:uppercase;
				color:#999; font-size:14px; font-weight:700; line-height:26px; text-align:right; }
			.oldie .itemList.event .evt .time { 
				letter-spacing:-1px; }
			
			/* common */
			.itemList.event .evt .title,
			.itemList.event .evt p { margin-right:160px!important; }
			
			/* title */	
			.itemList.event .evt .title { 
				width:auto; height:auto; margin:0; padding:0 0 12px 0; overflow:hidden;
				color:#444; font-size:20px; font-weight:700; line-height:26px; }
				
			/* a */
			.itemList.event .evt a,
			.itemList.event .evt a:visited { color:#333; text-decoration:underline; }
			
			.itemList.event .evt a:hover,
			.itemList.event .evt a:focus,
			.itemList.event .evt a:active  { color:#5c9fda; text-decoration:underline; }


/* ==========================================================================
   common - ICONS
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* common */
.icon, .iconInline { 
	/*transition*/
	/*-webkit-transform:translate3d(0,0,0);*/
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out; }

/* -------------------------------------------------------------------------- */
/* icon */
.icon { position:absolute; text-align:center; }

/* -------------------------------------------------------------------------- */
/* iconInline */	
.iconInline 			{ display:inline-block; position:relative; padding:0 10px; vertical-align:middle; }
.iconInline.left 		{ padding-left:0; text-align:left; }
.iconInline.right		{ padding-right:0; text-align:right; }

/* -------------------------------------------------------------------------- */
/* sizes */
.ie7 .icon.sz1, .ie7 .iconInline.sz1,
.icon.sz1:before, .iconInline.sz1:before { font-size:7px!important; }
.ie7 .icon.sz2, .ie7 .iconInline.sz2,
.icon.sz2:before, .iconInline.sz2:before { font-size:14px!important; }
.ie7 .icon.sz3, .ie7 .iconInline.sz3,
.icon.sz3:before, .iconInline.sz3:before { font-size:21px!important; }
.ie7 .icon.sz4, .ie7 .iconInline.sz4,
.icon.sz4:before, .iconInline.sz4:before { font-size:28px!important; }
.ie7 .icon.sz5, .ie7 .iconInline.sz5,
.icon.sz5:before, .iconInline.sz5:before { font-size:35px!important; }

/* -------------------------------------------------------------------------- */
/* circle */
.icon.circle, 
.iconInline.circle { 
	padding:0; text-align:center; 
	/*border-radius*/-webkit-border-radius:50%; border-radius:50%;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; }
.iconInline.circle.left  { margin-right:8px; }
.iconInline.circle.right { margin-left:8px; }


/* ==========================================================================
   common - BUTTONS
   ========================================================================== */

/* buttons stuff ... */



/* ==========================================================================
   common - BG
   ========================================================================== */
.bgShade { 
	display:block; position:absolute; margin:0; padding:0; overflow:hidden;
	/*border-radius*/-webkit-border-radius:50%; border-radius:50%;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; }


/* ==========================================================================
   common - FLASHCONTAINER
   ========================================================================== */
.flashContainer { 
	position:relative; width:100%; height:auto; margin:0; padding:0; overflow:hidden;
	background:#000; }
	
.noFlashMsg { 
	position:relative; width:60%; max-width:600px; height:auto; margin:10% auto; padding:0; overflow:hidden;
	color:#fff;
	font-size:18px; font-weight:700; line-height:24px; text-align:center; }


/* ==========================================================================
   section - HOME
   ========================================================================== */



/* home stuff ... */

   
   
/* ==========================================================================
   Common Styles
   Author: JX 20120127
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* text style */
.txtUpperCase       { text-transform:uppercase!important; }
.txtLowerCase       { text-transform:lowercase!important; }
.txtNormal	      	{ font-weight:normal!important; }
.txtBold	      	{ font-weight:bold!important; }

/* -------------------------------------------------------------------------- */
/* layout */
.posFix             { position:fixed!important; }
.posAbs             { position:absolute!important; }
.posRel             { position:relative!important; }

.mcenter            { margin-left:auto!important; margin-right:auto!important; }
.acenter            { text-align:center!important; }
.aleft  	        { text-align:left!important; }
.aright	    	    { text-align:right!important; }

.whitespaceNowrap	{ white-space:nowrap!important; }
.whitespaceNormal	{ white-space:normal!important; }

.dispInline         { display:inline!important; }
.dispInlineBlock    { display:inline-block!important; }
.dispBlock          { display:block!important; }
.dispNone          	{ display:none!important; }

.overflowVis        { overflow:visible!important; }
.overflowHid        { overflow:hidden!important; }

.fleft              { float:left!important; }
.fright             { float:right!important; }
.fnone              { float:none!important; }
.cleft              { clear:left!important; }
.cright             { clear:right!important; }
.cboth              { clear:both!important; }

.bgNone				{ background:none!important; }
.bgColorNone		{ background-color:none!important; }
.bgImgNone			{ background-image:none!important; }

.bdrNone			{ border:none!important; }
.bdrTopNone			{ border-top:none!important; }
.bdrBtmNone			{ border-bottom:none!important; }
.bdrLftNone			{ border-left:none!important; }
.bdrRgtNone			{ border-right:none!important; }

/* -------------------------------------------------------------------------- */
/* margin */
.mgnNone            { margin:0!important; }

.-mgnTop5            { margin-top:-5px!important; }
.-mgnTop10           { margin-top:-10px!important; }
.-mgnTop15           { margin-top:-15px!important; }
.-mgnTop20           { margin-top:-20px!important; }
.-mgnTop25           { margin-top:-25px!important; }
.-mgnTop30           { margin-top:-30px!important; }
.-mgnTop35           { margin-top:-35px!important; }
.-mgnTop40           { margin-top:-40px!important; }
.-mgnTop45           { margin-top:-45px!important; }
.-mgnTop50           { margin-top:-50px!important; }

.mgnTop0            { margin-top:0px!important; }
.mgnTop5            { margin-top:5px!important; }
.mgnTop10           { margin-top:10px!important; }
.mgnTop15           { margin-top:15px!important; }
.mgnTop20           { margin-top:20px!important; }
.mgnTop25           { margin-top:25px!important; }
.mgnTop30           { margin-top:30px!important; }
.mgnTop35           { margin-top:35px!important; }
.mgnTop40           { margin-top:40px!important; }
.mgnTop45           { margin-top:45px!important; }
.mgnTop50           { margin-top:50px!important; }

.mgnBtm0            { margin-bottom:0px!important; }
.mgnBtm5            { margin-bottom:5px!important; }
.mgnBtm10           { margin-bottom:10px!important; }
.mgnBtm15           { margin-bottom:15px!important; }
.mgnBtm20           { margin-bottom:20px!important; }
.mgnBtm25           { margin-bottom:25px!important; }
.mgnBtm30           { margin-bottom:30px!important; }
.mgnBtm35           { margin-bottom:35px!important; }
.mgnBtm40           { margin-bottom:40px!important; }
.mgnBtm45           { margin-bottom:45px!important; }
.mgnBtm50           { margin-bottom:50px!important; }

.mgnLft0            { margin-left:0px!important; }
.mgnLft5            { margin-left:5px!important; }
.mgnLft10           { margin-left:10px!important; }
.mgnLft15           { margin-left:15px!important; }
.mgnLft20           { margin-left:20px!important; }
.mgnLft25           { margin-left:25px!important; }
.mgnLft30           { margin-left:30px!important; }
.mgnLft35           { margin-left:35px!important; }
.mgnLft40           { margin-left:40px!important; }
.mgnLft45           { margin-left:45px!important; }
.mgnLft50           { margin-left:50px!important; }

.mgnRgt0            { margin-right:0px!important; }
.mgnRgt5            { margin-right:5px!important; }
.mgnRgt10           { margin-right:10px!important; }
.mgnRgt15           { margin-right:15px!important; }
.mgnRgt20           { margin-right:20px!important; }
.mgnRgt25           { margin-right:25px!important; }
.mgnRgt30           { margin-right:30px!important; }
.mgnRgt35           { margin-right:35px!important; }
.mgnRgt40           { margin-right:40px!important; }
.mgnRgt45           { margin-right:45px!important; }
.mgnRgt50           { margin-right:50px!important; }

/* -------------------------------------------------------------------------- */
/* padding */
.padNone            { padding:0!important; }

.padTop0            { padding-top:0px!important; }
.padTop5            { padding-top:5px!important; }
.padTop10           { padding-top:10px!important; }
.padTop15           { padding-top:15px!important; }
.padTop20           { padding-top:20px!important; }
.padTop25           { padding-top:25px!important; }
.padTop30           { padding-top:30px!important; }
.padTop35           { padding-top:35px!important; }
.padTop40           { padding-top:40px!important; }
.padTop45           { padding-top:45px!important; }
.padTop50           { padding-top:50px!important; }

.padBtm0            { padding-bottom:0px!important; }
.padBtm5            { padding-bottom:5px!important; }
.padBtm10           { padding-bottom:10px!important; }
.padBtm15           { padding-bottom:15px!important; }
.padBtm20           { padding-bottom:20px!important; }
.padBtm25           { padding-bottom:25px!important; }
.padBtm30           { padding-bottom:30px!important; }
.padBtm35           { padding-bottom:35px!important; }
.padBtm40           { padding-bottom:40px!important; }
.padBtm45           { padding-bottom:45px!important; }
.padBtm50           { padding-bottom:50px!important; }

.padLft0            { padding-left:0px!important; }
.padLft5            { padding-left:5px!important; }
.padLft10           { padding-left:10px!important; }
.padLft15           { padding-left:15px!important; }
.padLft20           { padding-left:20px!important; }
.padLft25           { padding-left:25px!important; }
.padLft30           { padding-left:30px!important; }
.padLft35           { padding-left:35px!important; }
.padLft40           { padding-left:40px!important; }
.padLft45           { padding-left:45px!important; }
.padLft50           { padding-left:50px!important; }

.padRgt0            { padding-right:0px!important; }
.padRgt5            { padding-right:5px!important; }
.padRgt10           { padding-right:10px!important; }
.padRgt15           { padding-right:15px!important; }
.padRgt20           { padding-right:20px!important; }
.padRgt25           { padding-right:25px!important; }
.padRgt30           { padding-right:30px!important; }
.padRgt35           { padding-right:35px!important; }
.padRgt40           { padding-right:40px!important; }
.padRgt45           { padding-right:45px!important; }
.padRgt50           { padding-right:50px!important; }


/* ==========================================================================
   Helper classes
   Author: JX 20120127 (Adapted from HTML5 Boilerplate 4)
   ========================================================================== */

/* Image replacement */
.ir { background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px;/* IE 6/7 fallback */ }
.ir:before { content:""; display:block; width:0; height:150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display:none!important; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { position:absolute; width:1px; height:1px; margin:-1px; padding:0; overflow:hidden; border:0; clip:rect(0 0 0 0); }

/* Extends the .visuallyhidden class to allow the element to be focusable
   when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { position:static; width:auto; height:auto; margin:0; overflow:visible; clip:auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden; }

/* Clearfix */
.clearfix:before,
.clearfix:after { content:" "; /* 1 */ display:table; /* 2 */ }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; } /* For IE 6/7 only */

/* Clearer */
.clearer { float:none; clear:both; height:0; line-height:0; overflow:hidden; visibility:hidden; }
.clear { clear:both; }


/* ==========================================================================
   Debug Styles
   Author: JX 20120127
   ========================================================================== */

/* common */
.debug code         { display:inline-block; margin:0 0 20px 0; padding:0 10px; clear:both;
                      color:#fff; background:#CC9; text-shadow:0 1px 0px rgba(0,0,0,0.2);
                      font-size:11px; font-weight:bold; line-height:20px; 
                      border-radius:10px;   box-shadow:inset 0 1px 1px rgba(0,0,0,0.2); }
.debug h1,
.debug h2,
.debug h3,
.debug h4,
.debug h5           { background-color:rgba(0,255,0,0.1);   outline:1px solid green; }
.debug p,
.debug li           { background-color:rgba(255,255,0,0.1); outline:1px solid gold;  }
.debug a            { background-color:rgba(0,0,255,0.1);   outline:1px solid blue;  }
.debug span,
.debug i            { background-color:rgba(255,0,0,0.1);   outline:1px solid red;   }
.debug div          { background-color:rgba(0,0,0,0);       outline:1px solid #0ff;  }

/* IE fallback */
.oldie.debug h1,
.oldie.debug h2,
.oldie.debug h3,
.oldie.debug h4,
.oldie.debug h5 { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1900FF00, endColorstr=#1900FF00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1900FF00, endColorstr=#1900FF00);
    zoom:1; }
.oldie.debug p,
.oldie.debug li { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFF00, endColorstr=#19FFFF00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFF00, endColorstr=#19FFFF00);
    zoom:1; }
.oldie.debug a  { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#190000FF, endColorstr=#190000FF);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#190000FF, endColorstr=#190000FF);
    zoom:1; }
.oldie.debug span,
.oldie.debug i  { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FF0000, endColorstr=#19FF0000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FF0000, endColorstr=#19FF0000);
    zoom:1; }
.oldie.debug div { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000, endColorstr=#07000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000, endColorstr=#07000000);
    zoom:1; }

/* debugInfo */
#debugInfo {
    position:fixed; top:0; left:0; width:auto; height:30px; margin:0; padding:0 10px; overflow:hidden; z-index:10000;
    color:#ff0; background:rgba(0,0,0,0.7);
    font-size:12px; font-weight:bold; line-height:30px; text-align:center; text-transform:uppercase; }
#debugInfo:before   { content:''; }
#debugInfo:after    { content:'w: 'attr(data-width); } /*popped by JS*/
.oldie #debugInfo   { background:#000; }


/* ==========================================================================
   Media Queries Examples
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}