/* ==========================================================================
   Base styles: opinionated defaults
   Author: JX 20130127 (Adapted from HTML5 Boilerplate 4)
   ========================================================================== */

/* base text style */
html, button, input, select, textarea { color:#222; font-family:sans-serif; }
body { font-size:1em; line-height:1.4; }

/* text selection style */
::-moz-selection { color:#fff; background:#222; text-shadow:none; }
::selection { color:#fff; background:#222; text-shadow:none; }

/* simplified hr style */
hr { display:block; height:1px; margin:1em 0; padding:0; border:0; border-top:1px solid #ccc; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img { vertical-align:middle; }

/* Remove default fieldset styles. */
fieldset { border:0; margin:0; padding:0; }

/* Remove default webkit styles on form elements. */
button, input, select, textarea { -webkit-appearance:none; -webkit-border-radius:0; }
button:focus, input:focus, select:focus, textarea:focus { outline: none; }

/* Allow only vertical resizing of textareas. */
textarea { resize:vertical; }

/* Default table cell vertical alignment */
th, td { vertical-align:top; }

/* Chrome Frame prompt */
.chromeframe {
    margin:0.2em 0; padding:0.2em 0;
    color:#000; background:#ccc; }

/* Link styles*/
a           { color: #57a2db; /*theme blue*/ } 
a:visited   { color: #57a2db; /*theme blue*/ }
a:hover     { color: #57a2db; /*theme blue*/ }
a:focus     { color: #57a2db; /*theme blue*/ }

/* Link transitions */
a {
    -webkit-transition-property:color,background-color,border-color;
    -webkit-transition-duration:0.3s;
    -webkit-transition-timing-function:ease-in-out;
    -webkit-transition-delay:0s;

    -moz-transition-property:color,background-color,border-color;
    -moz-transition-duration:0.3s;
    -moz-transition-timing-function:ease-in-out;
    -moz-transition-delay:0s;

    -o-transition-property:color,background-color,border-color;
    -o-transition-duration:0.3s;
    -o-transition-timing-function:ease-in-out;
    -o-transition-delay:0s;

    transition-property:color,background-color,border-color;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
    transition-delay:0s; }


/* ==========================================================================
   Primary Styles
   Author: JX 201404
   ========================================================================== */


/* ==========================================================================
   structure - GLOBAL
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* loader */
#loader { 
	display:none; position:absolute; top:180px; left:50%; width:70px; height:70px; margin:0 0 0 -35px; padding:0; overflow:hidden; }

/* -------------------------------------------------------------------------- */
/* webfont */

/* loading */
.js #container { 
	visibility:hidden; opacity:0;
	/*transition*/
	/*-webkit-transform:translate3d(0,0,0);*/
	-webkit-transition:opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
	-o-transition:opacity 0.3s ease-in-out;
	transition:opacity 0.3s ease-in-out; }

/* loading */
.wf-loading #loader 	{ display:block; }

/* active */
.wf-active #container,
.wf-inactive #container	{ visibility:visible; opacity:1; }

.wf-active #loader,
.wf-inactive #loader 	{ display:none!important; }

/* -------------------------------------------------------------------------- */
/* body */
body.ps { 
	position:relative; margin:0; padding:0;
	color:#222; background:#ebeae8; 
	font-family:'Asap',sans-serif; font-size:18px; font-weight:400; line-height:26px; }
	
	/* -------------------------------------------------------------------------- */
	/* blockings */
	#container, 
		#header, #nav, #banner, #content, #utilsTop, #megafooter, #footer, .section,
			#header 	> .padder,
			#nav 		> .padder,
			#banner 	> .padder,
			#content 	> .padder,
			#utilsTop	> .padder,
			#megafooter > .padder,
			#footer 	> .padder,
			.section 	> .padder { 
		display:block; position:relative; width:auto; height:auto; margin:0 auto; padding:0; }
		
	/* container */
	#container { 
		min-width:0px; max-width:1440px; }
	
	/* sections */
	#header, #nav, #banner, #content, #utilsTop, #megafooter, #footer, .section { 
		min-width:300px; max-width:100%; }	
		
	/* padders */
	#header 	> .padder,
	#nav 		> .padder,
	#banner 	> .padder,
	#content 	> .padder,
	#utilsTop	> .padder,
	#megafooter > .padder,
	#footer 	> .padder,
	.section 	> .padder {
		min-width:0px; max-width:960px; }


/* ==========================================================================
   structure - PAGEBG
   ========================================================================== */

/* html canvas */
html, body { height:100% }

/* pageBg */
#pageBg { display:none; }


/* ==========================================================================
   structure - HEADER
   ========================================================================== */

/* ------------------------------------------------------------------------------ */
/* container */
#header { background:#ededed; }
	
	/* padder */
	#header > .padder { padding:35px 0; }
	
	/* -------------------------------------------------------------------------- */
	/* brand */
	#header .brand { 
		display:block; position:relative; width:510px; height:auto; margin:0; padding:0; overflow:hidden;
		text-decoration:none!important; cursor:pointer; }
		
		/* common */
		#header .brand span { 
			display:block; width:auto; margin:0 0 0 110px; overflow:hidden; }
			
		/* title */
		#header .brand .title { 
			margin-top:20px;
			color:#1f353f; font-weight:700; font-size:24px; line-height:25px; }
			#header .brand .title .small { font-size:18px; font-style:normal; }
			
		/* subtitle */
		#header .brand .subtitle { 
			color:#1a9ba6; font-weight:700; font-size:14px; line-height:20px; text-transform:uppercase; }
			
		/* img */
		#header .brand img { 
			display:block; position:absolute; top:0; left:10px; width:90px; height:auto; }
	

/* ==========================================================================
   structure - NAV
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* container */ 
#nav { overflow:hidden; background:#1f353f; }

	/* ------------------------------------------------------------------------------ */
	/* navSelect */
	#navSelect { display:none; }
	
	/* ------------------------------------------------------------------------------ */
	/* navItems */
	#navItems { 
		margin:0; padding:0; overflow:hidden; 
		white-space:nowrap; text-overflow:ellipsis; text-align:center; }
	
		/* navItem */
		#nav .navItem { 
			display:inline-block; width:auto; height:60px; margin:0; padding:0; overflow:hidden; 
			color:#bcbfc1; font-size:16px; font-weight:700; line-height:26px; text-align:center; vertical-align:middle;
			text-decoration:none!important; outline:0 none!important;
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:color 0.3s ease-in-out, background-color 0.3s ease-in-out;
			-moz-transition:color 0.3s ease-in-out, background-color 0.3s ease-in-out;
			-o-transition:color 0.3s ease-in-out, background-color 0.3s ease-in-out;
			transition:color 0.3s ease-in-out, background-color 0.3s ease-in-out; }
		
		/* oldie fix */
		.oldie #nav .navItem { 
			letter-spacing:-1px; }
			
			/* items - label */
			#nav .navItem .label { 
				display:block; width:auto; margin:16px 10px; padding:0 3px; 
				white-space:nowrap;	border-bottom:2px solid transparent; }
				
		/* navItem - interaction */	
		.no-touch #nav .navItem:hover,
		.no-touch #nav .navItem:focus,
		.touch #nav .navItem:active { 
			color:#fff; }
		
		/* navItem - selected */
		#nav .navItem.selected,
		#nav .navItem.selected .label,
		.no-touch #nav .navItem.selected:hover,
		.no-touch #nav .navItem.selected:focus,
		.touch #nav .navItem.selected:active { 
			color:#fff; border-bottom-color:#06b4c3; 
			/*pointer-events:none;*/ cursor:pointer; }	


/* ================================================================================================== */
/* structure - SIDENAV */
/* ================================================================================================== */

/* -------------------------------------------------------------------------- */
/* sideNavHeader */
#sideNavHeader { 
	position:relative; width:auto; height:auto; margin:0; padding:12px 20px; overflow:hidden;
	color:#fff; background:#00aab8;
	font-size:18px; font-weight:700; line-height:21px; }
.oldie #sideNavHeader { 
	letter-spacing:-1px; }

/* -------------------------------------------------------------------------- */
/* container */
#sideNav { 
	list-style:none; margin:0 0 24px 0; padding:0; width:auto; height:auto; overflow:hidden;
	background:#fff; }
	
/* genesis contextmenu output error fix */
#sideNav + ul { display:none; }

	/* ------------------------------------------------------------------------------ */
	/* icon */
	#sideNav .icon {	 
		display:none; position:absolute; width:12px; height:12px; margin:0; overflow:hidden;
		color:#d0d0d0; font-size:12px; line-height:12px; text-align:left; text-indent:0;
		/*transition*/
		/*-webkit-transform:translate3d(0,0,0);*/
		-webkit-transition:none 0.3s ease-in-out;
		-moz-transition:none 0.3s ease-in-out;
		-o-transition:none 0.3s ease-in-out;
		transition:none 0.3s ease-in-out; }
	
	/* position */
	#sideNav li li .icon 		{ top:10px; left:20px; display:block; }
	
	/* interaction */
	#sideNav a:hover .icon,
	#sideNav a:focus .icon 		{ color:#fff; }
	
	#sideNav li.selected .icon 	{ color:#d0d0d0; display:block; }
	#sideNav li .selected .icon { cursor:default!important; }
	
	#sideNav li li.selected > a .icon,
	#sideNav li li.selected > a:hover .icon,
	#sideNav li li.selected > a:focus .icon { color:#fff!important; }
	
	/* ------------------------------------------------------------------------------ */
	/* level 1 */
	#sideNav li {
		position:relative; margin:0; padding:0; width:100%;
		color:#262626; border-bottom:1px solid #ededed;
		font-size:15px; font-weight:400; line-height:21px; }
	
	/* IE7 extra bottom gap fix */
	.ie7 #sideNav li { 
		line-height:15px; vertical-align:bottom; }
		
		/* ------------------------------------------------------------------------------ */
		/* links */
		#sideNav li a,
		#sideNav li a:link,
		#sideNav li a:active,
		#sideNav li a:visited {
			display:block; position:relative; width:auto; margin:0; padding:11px 20px; 
			color:#262626; text-decoration:none; }		
		
		/* interaction */
		#sideNav li a:hover,
		#sideNav li a:focus { 
			text-decoration:underline; }
		
		/* ------------------------------------------------------------------------------ */
		/* selected */
		#sideNav li.selected 					{  }
		
		#sideNav li.selected a 					{ cursor:pointer; }
		#sideNav li.selected a:hover,
		#sideNav li.selected a:focus 			{  }
		
		#sideNav li.selected a.selected,
		#sideNav li.selected a.selected:hover,
		#sideNav li.selected a.selected:focus 	{ color:#fff; background:#02cee0; text-decoration:none; 
												  cursor:default; pointer-events:none; }
	
	/* ------------------------------------------------------------------------------ */
	/* level 2 container */
	#sideNav li ul 						{ display:none; padding:0 0 10px 0; }
	#sideNav li.selected > ul 			{ display:block; }
	
	/* normalize items */
	#sideNav li ul,
	#sideNav li li,
	#sideNav li li.selected,
	#sideNav li li a,
	#sideNav li li.selected a,
	#sideNav li li.selected a.selected 	{ margin:0!important; list-style:none!important; border:none!important; background:none!important; }
	
	/* level 2 item */
	#sideNav li li 		{ font-size:14px; }
		
	/* IE7 extra bottom gap fix */
	.ie7 #sideNav li li { line-height:21px; }
		
		/* links */
		#sideNav li li a,
		#sideNav li li a:link,
		#sideNav li li a:active,
		#sideNav li li a:visited 				{ color:#262626; width:auto; padding:5px 20px; background:none!important; cursor:pointer!important; }
		
		#sideNav li li a span 					{ display:inline-block; width:auto; padding-left:15px; }
		
		/* interaction */
		#sideNav li li a:hover,
		#sideNav li li a:focus,
		#sideNav li li a:hover span,
		#sideNav li li a:focus span				{ text-decoration:underline!important; }
		
		#sideNav li li.selected > a,
		#sideNav li li.selected > a:hover,
		#sideNav li li.selected > a:focus 		{ color:#fff!important; background:#02cee0!important;  
											 	  cursor:default!important; pointer-events:none; }
		#sideNav li li.selected > a:hover,
		#sideNav li li.selected > a:focus,
		#sideNav li li.selected > a:hover span,
		#sideNav li li.selected > a:focus span	{ text-decoration:none!important; }


/* ==========================================================================
   structure - BANNER
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#banner { 
	overflow:hidden;
	background:#00aab8; }	
			
	/* -------------------------------------------------------------------------- */
	/* bgImg */
	#banner .bgImg { 
		display:block; position:absolute; top:0; left:50%; width:1440px; height:100%; margin:0 0 0 -720px; padding:0; overflow:hidden; }
	#banner .bgImg.slide { 
		top:0!important; left:50%!important; width:1440px!important; height:100%!important; /* override cycle */ }
	
	/* -------------------------------------------------------------------------- */
	/* padder */
	#banner > .padder { 
		position:absolute; top:0; left:50%; width:100%; height:100%; margin:0 0 0 -480px; z-index:11;
		color:#fff; }
		
		/* -------------------------------------------------------------------------- */	
		/* headline */
		#banner .headline { 
			display:none; position:absolute; left:0; width:100%; height:auto; margin:0; padding:0;
			font-size:36px; font-weight:400; line-height:70px; font-style:normal; }
			

/* ==========================================================================
   structure - CONTENT SHELL
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#content { background:#f2f2f2; }
	
	/* -------------------------------------------------------------------------- */
	/* common */
	#main,
	#aside 	{ position:relative; width:auto; height:auto; margin:0; padding:0; }
	
	/* -------------------------------------------------------------------------- */
	/* main */
	#main 	{ width:68.75%; padding:40px 0 90px 0; float:left; clear:left; min-height:400px; }
	
	/* -------------------------------------------------------------------------- */
	/* main.home */
	#main.home { width:auto; padding:30px 0; float:none; clear:both; min-height:0; 
				overflow:hidden;/* prevent isotope caused scrollbars */ }
	
	/* -------------------------------------------------------------------------- */
	/* main.grey */
	#main.grey { width:auto; padding:50px 0; float:none; clear:both; min-height:0; 
				overflow:hidden;/* prevent isotope caused scrollbars */ }	
		
	/* -------------------------------------------------------------------------- */
	/* aside */
	#aside 	{ width:24.50%; padding:40px 0; float:right; clear:right; overflow:hidden; }
		

/* ==========================================================================
   structure - FOOTER
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
#footer { 
	background:#2f3f48; border-top:1px solid #3e4d56; }

	/* -------------------------------------------------------------------------- */
	/* footerContacts */
	
	/* -------------------------------------------------------------------------- */
	/* footerLinks */
	
	/* common */
	#footerLinks,
	#footerLinks li { 
		list-style:none; margin:0; padding:0;
		color:#a9b5bb; font-size:12px; font-weight:400; line-height:1em; }
	
	/* container */
	#footerLinks { margin-right:32%; padding:25px 0; }
	
		/* li */
		#footerLinks li { 
			margin-left:10px; padding-left:10px; float:left; 
			border-left:1px solid #a9b5bb; }
		#footerLinks li:first-child { 
			margin:0; padding:0; border:none; }
			
			/* a */
			#footerLinks a 			{ color:#a9b5bb; text-decoration:none; }
			#footerLinks a:hover,
			#footerLinks a:focus,
			#footerLinks a:active 	{ color:#fff; text-decoration:underline; }
			
	/* -------------------------------------------------------------------------- */
	/* btnFW */
	#btnFW { 
		display:block; position:absolute; top:50%; right:16%; width:150px; height:20px; margin:-10px -75px 0 0; padding:0; overflow:hidden;
		background:url(../img/btn-fw.png) center center no-repeat; border:none;
		/*opacity*/opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter:alpha(opacity=50);
		/*transition*/
		/*-webkit-transform:translate3d(0,0,0);*/
		-webkit-transition:opacity 0.3s ease-in-out;
		-moz-transition:opacity 0.3s ease-in-out;
		-o-transition:opacity 0.3s ease-in-out;
		transition:opacity 0.3s ease-in-out; }
	#btnFW:hover,
	#btnFW:focus { 
		/*opacity*/opacity:1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter:alpha(opacity=100); }
	

/* ==========================================================================
   structure - COLUMNS
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* columns common */
.colFull,
.col2a,
.col2b,
.col3a,
.col3b,
.col3c { display:block; position:relative; height:auto; margin:0; padding:0; overflow:visible; }

/* -------------------------------------------------------------------------- */
/* contentViewport */
.colFull .contentViewport,
.col2a   .contentViewport,
.col2b   .contentViewport,
.col3a   .contentViewport,
.col3b   .contentViewport,
.col3c   .contentViewport { width:auto; }
	
/* -------------------------------------------------------------------------- */
/* colFull */
.colFull { width:auto; float:none; clear:both; }
	
/* -------------------------------------------------------------------------- */
/* col2 */
.col2a,
.col2b { width:47%; }
.col2a { float:left; clear:left; }
.col2b { float:right; clear:right; }

/* -------------------------------------------------------------------------- */
/* col3 */
.col3a,
.col3b,
.col3c	 			{ width:29.6%; }
.col3a	 			{ float:left; clear:left; }
.col3b,
.formView .col3b	{ float:left; clear:none; margin-left:5.6%; }
.col3c 				{ float:right; clear:right; }


/* ==========================================================================
   common - SYSMSG
   ========================================================================== */
   
/* -------------------------------------------------------------------------- */
/* container */
.sysmsg { 
	position:relative; width:auto; height:auto; margin:0; padding:20px 25px 17px 25px; overflow:hidden;
	color:#fff; background:#fff; text-align:center; 
	font-size:15px; font-weight:400; line-height:24px; }
	
	/* common */
	.sysmsg h3,
	.sysmsg h4,
	.sysmsg p,
	.sysmsg li 	{ margin:0; padding:0 0 8px 0; }
	
	/* custom */
	.sysmsg h3,
	.sysmsg h4 	{ font-size:16px; font-weight:700; }
	.sysmsg a	{ text-decoration:underline; }
		
/* extend */
.sysmsgSuccess 	{ background:#a9d371; }
.sysmsgError 	{ background:#c85599; }


/* ==========================================================================
   common - FORM
   ========================================================================== */

/* -------------------------------------------------------- */
/* container */
.formView { position:relative; width:99%; margin:0; padding:0; }

	/* form */
	.formView form {
		display:block; position:relative; width:100%; height:auto; margin:0; padding:0; }
		
		/* -------------------------------------------------------- */
		/* placeholder */
		::-webkit-input-placeholder 	{ color:#ccc; }
		:-moz-placeholder 				{ color:#ccc; }
		::-moz-placeholder 				{ color:#ccc; }
		:-ms-input-placeholder			{ color:#ccc; }
		
		/* -------------------------------------------------------- */
		/* fieldset */
		.formView fieldset { 
			display:block; position:relative; margin:0; padding:0; border:0; }
		
		/* -------------------------------------------------------- */
		/* label */			
		.formView label { 
			display:block; margin:0; padding:24px 0 0 0;
			color:#222; vertical-align:baseline; white-space:nowrap; text-overflow:ellipsis;
			font-size:16px; font-weight:700; line-height:40px; }
		
		/* inline */
		.formView label.inline { 
			display:inline-block; margin:0; padding:24px 0 0 16px; line-height:24px; overflow:hidden;
			white-space:normal; vertical-align:middle; }
		.formView input.styled + label.inline { 
			width:80%; } /* prevent wrappnig */
			
		/* disabled */
		.formView .disabled label { 
			color:#ccc; }
		
		/* -------------------------------------------------------- */
		/* radio/checkbox */
		
		/* default */
		.formView input.radio,
		.formView input.checkbox { /*by JS*/ }
		
		/* custom-form-elements */
		.formView span.radio,
		.formView span.checkbox	{ 
			display:inline-block; width:32px; height:32px; margin:24px 0 0 0; padding:0;
			background:url(../img/radio-custom.png) no-repeat; vertical-align:middle;
			cursor:pointer!important; }
		.formView span.checkbox { 
			background-image:url(../img/checkbox-custom.png); }
		
		/* disabled */
		.formView .disabled span.radio,
		.formView .disabled span.checkbox { 
			cursor:default!important; }
			
		/* -------------------------------------------------------- */
		/* input */
		.formView input.text { 
			display:block; width:95.75%; height:16px; margin:0; padding:14px 2%; overflow:hidden;
			color:#2b3942; background:#fff; border:2px solid #fff;
			font-family:'Asap',sans-serif; font-size:15px; line-height:16px; font-weight:400;
			/*box-shadow*/-webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.15); box-shadow:1px 1px 1px 0px rgba(0,0,0,0.15);
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			-moz-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			-o-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out; }
		
		/* interaction */
		.formView input.text:focus,
		.formView input.text:active { 
			color:#2b3942; border-color:#1e353f; }
		.formView input.text[disabled] { 
			color:#ccc!important; opacity:1!important; }
		
		/* datepicker */
		.formView input.text.datepicker + .icon { 
			bottom:17px; right:14px; width:14px; height:14px;
			color:#1f353f; font-size:14px; line-height:14px;
			cursor:pointer!important; }
		.formView input.text.datepicker + .icon:hover { 
			color:#1f353f; }
		
		/* nesting */
		.formView .col2 > input.text 					{ width:91.25%; padding-left:4%; padding-right:4%; }
		.formView .col2 > .col2 > input.text 			{ width:83.25%; padding-left:8%; padding-right:8%; }
		.formView .col2 > .col3 > input.text 			{ width:75.25%; padding-left:12%; padding-right:12%; }
		.formView .col2 > .col2 > .col2 > input.text 	{ width:67.25%; padding-left:16%; padding-right:16%; }
		
		/* ------------------------------------------------------------------------------ */
		/* select */
		.formView select,
		.formView .select { 
			display:block; width:92.75%; height:16px; margin:0; padding:14px 5% 14px 2%; overflow:hidden;
			color:#2b3942; background:#fff; border:2px solid #fff;
			font-family:'Asap',sans-serif; font-size:15px; line-height:16px; font-weight:400;
			cursor:pointer!important;
			/*box-shadow*/-webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.15); box-shadow:1px 1px 1px 0px rgba(0,0,0,0.15);
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			-moz-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			-o-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out; }
		
		/* custom-form-elements */
		
		/* same dimension as .select */
		.formView select 		{ position:relative; width:100%!important; height:44px!important; margin:0; padding:2px; border:none;
								  /*box-sizing*/-webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; } 
		/* put <select> on top */
		.formView .select 		{ position:absolute; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; } 
		
		/* optimise position for IE7 */
		.ie7 .formView select 	{ margin-top:10px; } 
		
		/* icon */
		.formView .select .icon { right:4px; top:50%; width:24px; height:24px; margin:-12px 0 0 0; font-size:14px; line-height:24px; }
		
		/* nesting */
		.formView .col2 > .select 					{ width:85.25%; padding-left:4%; padding-right:10%; }
		.formView .col2 > .col2 > .select 			{ width:71.25%; padding-left:8%; padding-right:20%; }
		.formView .col2 > .col3 > .select 			{ width:57.25%; padding-left:12%; padding-right:30%; }
		.formView .col2 > .col2 > .col2 > .select 	{ width:43.25%; padding-left:16%; padding-right:40%; }
		
		/* -------------------------------------------------------- */
		/* textarea */
		.formView textarea { 
			display:block; width:95.75%; margin:0; padding:14px 2%; overflow:hidden;
			color:#2b3942; background:#fff; border:2px solid #fff; resize:vertical;
			font-family:'Asap',sans-serif; font-size:15px; line-height:24px; font-weight:400;
			/*box-shadow*/-webkit-box-shadow:1px 1px 1px 0px rgba(0,0,0,0.15); box-shadow:1px 1px 1px 0px rgba(0,0,0,0.15);
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			-moz-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			-o-transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out;
			transition:color 0.3s ease-in-out, border-color 0.3s ease-in-out; }
		
		/* interaction */
		.formView textarea:focus,
		.formView textarea:active { 
			color:#2b3942; border-color:#1e353f; }
		.formView textarea[disabled] { 
			color:#ccc!important; opacity:1!important; }
		
		/* nesting */		
		.formView .col2 > textarea 						{ width:91.25%; padding-left:4%; padding-right:4%; }
		.formView .col2 > .col2 > textarea 				{ width:83.25%; padding-left:8%; padding-right:8%; }
		.formView .col2 > .col3 > textarea	 			{ width:75.25%; padding-left:12%; padding-right:12%; }
		.formView .col2 > .col2 > .col2 > textarea 		{ width:67.25%; padding-left:16%; padding-right:16%; }


/* ==========================================================================
   common - ITEMS TILE (NEWS)
   ========================================================================== */



/* news item stuff ... */



/* ==========================================================================
   common - ITEMS LIST (EVENTS and RESOURCES)
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.itemList { 
	position:relative; margin:0 0 12px 0; padding:0; overflow:hidden; }

	/* -------------------------------------------------------------------------- */
	/* header */
	.itemList > .header { 
		position:relative; width:auto; height:auto; min-height:22px; margin:0; padding:12px 20px 12px 66px; overflow:hidden;
		color:#333; background:#fff; font-size:16px; font-weight:700; line-height:22px; }
		
		/* icon */
		.itemList > .header > .icon { 
			position:absolute; top:0; left:0; width:46px; height:100%; margin:0; padding:0; overflow:hidden;
			color:#fff; background:#06b2c0; font-size:24px; line-height:46px;
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:none 0.3s ease-in-out;
			-moz-transition:none 0.3s ease-in-out;
			-o-transition:none 0.3s ease-in-out;
			transition:none 0.3s ease-in-out; }
			
		/* a */
		.itemList > .header a 			{ color:#333; text-decoration:none; }
		.itemList > .header a:hover,
		.itemList > .header a:focus,
		.itemList > .header a:active 	{ color:#333; text-decoration:underline; }
			
	/* -------------------------------------------------------------------------- */
	/* padder */
	.itemList > .padder { 
		width:auto; height:auto; margin:0; padding:12px 20px 0 66px; }

/* -------------------------------------------------------------------------- */
/* extend - event */
.itemList.event { 
	position:relative; margin:0 0 16px 0; padding:0; overflow:hidden; }

	/* -------------------------------------------------------------------------- */
	/* header */
	.itemList.event > .header { 
		height:36px; padding:0 20px 0 50px;
		white-space:nowrap; text-overflow:ellipsis; text-transform:uppercase;
		color:#fff; background:#c8c8c8; font-size:13px; line-height:36px; }
	.itemList.event.today > .header { 
		background:#aecb44; }
		
		/* icon */
		.itemList.event > .header > .icon { 
			width:36px; font-size:18px; line-height:36px; font-style:normal; }
		.itemList.event.today > .header > .icon { 
			background:#9bb832; }
			
		/* a */
		.itemList.event > .header a,
		.itemList.event > .header a:hover,
		.itemList.event > .header a:focus,
		.itemList.event > .header a:active 	{ color:#fff; }
			
	/* -------------------------------------------------------------------------- */
	/* padder */
	.itemList.event > .padder { padding:0 20px 0 50px; }
	
		/* -------------------------------------------------------------------------- */
		/* evt */
		.itemList.event .evt { 
			padding:22px 0 14px 0; border-top:1px solid #ddd; }
		.itemList.event .evt:first-child { 
			border-top:none; }
			
			/* time */	
			.itemList.event .evt .time { 
				width:160px; height:auto; margin:0; padding:0; overflow:hidden; float:right; clear:right;
				white-space:nowrap; text-overflow:ellipsis; text-transform:uppercase;
				color:#8c8c8c; font-size:13px; font-weight:700; line-height:24px; text-align:right; }
			.oldie .itemList.event .evt .time { 
				letter-spacing:-1px; }
			
			/* common */
			.itemList.event .evt .title,
			.itemList.event .evt p { margin-right:160px!important; }
			
			/* title */	
			.itemList.event .evt .title { 
				width:auto; height:auto; margin:0; padding:0 0 8px 0; overflow:hidden;
				color:#333; font-size:18px; font-weight:700; line-height:24px; }
				
			/* a */
			.itemList.event .evt a,
			.itemList.event .evt a:visited { color:#333; text-decoration:underline; }
			
			.itemList.event .evt a:hover,
			.itemList.event .evt a:focus,
			.itemList.event .evt a:active  { color:#06b2c0; text-decoration:underline; }
	
	
/* ==========================================================================
   common - pagination
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* container */
.pagination { 
	position:relative; width:auto; height:auto; margin:0; padding:15px 0; overflow:hidden;
	text-align:center; }
	
	/* msg */
	.pagination .msg { 
		color:#888; font-size:14px; }
	
	/* pages */
	.pagination .pages { 
		width:auto; height:auto; margin:10px 0 0 0; padding:0; overflow:hidden; }
	
		/* btnPrev|btnNext */
		.pagination .pages > .btnPrev,
		.pagination .pages > .btnNext { display:none!important; }
		
		/* btnPage */
		.pagination .pages > .btnPage { 
			display:inline-block; width:2em; height:2em; margin:0 1px; padding:0; overflow:hidden;
			color:#fff; background:#c3c6c9;
			font-size:16px; font-weight:600; line-height:2em;
			text-decoration:none!important; outline:0 none!important;
			/*border-radius*/-webkit-border-radius:50%; border-radius:50%;
			/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding; background-clip:padding-box; }
		
		/* interaction */	
		.no-touch .pagination .pages > .btnPage:hover,
		.no-touch .pagination .pages > .btnPage:focus,
		.touch .pagination .pages > .btnPage:active { 
			background:#02cee0; }
			
		/* selected */	
		.pagination .pages > .btnPage.selected { 
			background:#06bbca!important;
			pointer-events:none; }


/* ==========================================================================
   common - ICONS
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* common */
.icon, .iconInline { 
	/*transition*/
	/*-webkit-transform:translate3d(0,0,0);*/
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out; }

/* -------------------------------------------------------------------------- */
/* icon */
.icon { position:absolute; text-align:center; }

/* -------------------------------------------------------------------------- */
/* iconInline */	
.iconInline 			{ display:inline-block; position:relative; padding:0 10px; vertical-align:middle; }
.iconInline.left 		{ padding-left:0; text-align:left; }
.iconInline.right		{ padding-right:0; text-align:right; }

/* -------------------------------------------------------------------------- */
/* sizes */
.ie7 .icon.sz1, .ie7 .iconInline.sz1,
.icon.sz1:before, .iconInline.sz1:before { font-size:7px!important; }
.ie7 .icon.sz2, .ie7 .iconInline.sz2,
.icon.sz2:before, .iconInline.sz2:before { font-size:14px!important; }
.ie7 .icon.sz3, .ie7 .iconInline.sz3,
.icon.sz3:before, .iconInline.sz3:before { font-size:21px!important; }
.ie7 .icon.sz4, .ie7 .iconInline.sz4,
.icon.sz4:before, .iconInline.sz4:before { font-size:28px!important; }
.ie7 .icon.sz5, .ie7 .iconInline.sz5,
.icon.sz5:before, .iconInline.sz5:before { font-size:35px!important; }

/* -------------------------------------------------------------------------- */
/* circle */
.icon.circle, 
.iconInline.circle { 
	padding:0; text-align:center; 
	/*border-radius*/-webkit-border-radius:50%; border-radius:50%;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; }
.iconInline.circle.left  { margin-right:8px; }
.iconInline.circle.right { margin-left:8px; }


/* ==========================================================================
   common - BUTTONS
   ========================================================================== */


/* buttons stuff ... */



/* ==========================================================================
   common - BG
   ========================================================================== */
.bgShade { 
	display:block; position:absolute; margin:0; padding:0; overflow:hidden;
	/*border-radius*/-webkit-border-radius:50%; border-radius:50%;
	/*background-clip*/-moz-background-clip:padding; -webkit-background-clip:padding-box; background-clip:padding-box; }


/* ==========================================================================
   common - FLASHCONTAINER
   ========================================================================== */
.flashContainer { 
	position:relative; width:100%; height:auto; margin:0; padding:0; overflow:hidden;
	background:#000; }
	
.noFlashMsg { 
	position:relative; width:60%; max-width:600px; height:auto; margin:10% auto; padding:0; overflow:hidden;
	color:#fff;
	font-size:18px; font-weight:700; line-height:24px; text-align:center; }


/* ==========================================================================
   section - HOME
   ========================================================================== */



/* home stuff ... */

   
   
/* ==========================================================================
   Common Styles
   Author: JX 20120127
   ========================================================================== */

/* -------------------------------------------------------------------------- */
/* text style */
.txtUpperCase       { text-transform:uppercase!important; }
.txtLowerCase       { text-transform:lowercase!important; }
.txtNormal	      	{ font-weight:normal!important; }
.txtBold	      	{ font-weight:bold!important; }

/* -------------------------------------------------------------------------- */
/* layout */
.posFix             { position:fixed!important; }
.posAbs             { position:absolute!important; }
.posRel             { position:relative!important; }

.mcenter            { margin-left:auto!important; margin-right:auto!important; }
.acenter            { text-align:center!important; }
.aleft  	        { text-align:left!important; }
.aright	    	    { text-align:right!important; }

.whitespaceNowrap	{ white-space:nowrap!important; }
.whitespaceNormal	{ white-space:normal!important; }

.dispInline         { display:inline!important; }
.dispInlineBlock    { display:inline-block!important; }
.dispBlock          { display:block!important; }
.dispNone          	{ display:none!important; }

.overflowVis        { overflow:visible!important; }
.overflowHid        { overflow:hidden!important; }

.fleft              { float:left!important; }
.fright             { float:right!important; }
.fnone              { float:none!important; }
.cleft              { clear:left!important; }
.cright             { clear:right!important; }
.cboth              { clear:both!important; }

.bgNone				{ background:none!important; }
.bgColorNone		{ background-color:none!important; }
.bgImgNone			{ background-image:none!important; }

.bdrNone			{ border:none!important; }
.bdrTopNone			{ border-top:none!important; }
.bdrBtmNone			{ border-bottom:none!important; }
.bdrLftNone			{ border-left:none!important; }
.bdrRgtNone			{ border-right:none!important; }

/* -------------------------------------------------------------------------- */
/* margin */
.mgnNone            { margin:0!important; }

.-mgnTop5            { margin-top:-5px!important; }
.-mgnTop10           { margin-top:-10px!important; }
.-mgnTop15           { margin-top:-15px!important; }
.-mgnTop20           { margin-top:-20px!important; }
.-mgnTop25           { margin-top:-25px!important; }
.-mgnTop30           { margin-top:-30px!important; }
.-mgnTop35           { margin-top:-35px!important; }
.-mgnTop40           { margin-top:-40px!important; }
.-mgnTop45           { margin-top:-45px!important; }
.-mgnTop50           { margin-top:-50px!important; }

.mgnTop0            { margin-top:0px!important; }
.mgnTop5            { margin-top:5px!important; }
.mgnTop10           { margin-top:10px!important; }
.mgnTop15           { margin-top:15px!important; }
.mgnTop20           { margin-top:20px!important; }
.mgnTop25           { margin-top:25px!important; }
.mgnTop30           { margin-top:30px!important; }
.mgnTop35           { margin-top:35px!important; }
.mgnTop40           { margin-top:40px!important; }
.mgnTop45           { margin-top:45px!important; }
.mgnTop50           { margin-top:50px!important; }

.mgnBtm0            { margin-bottom:0px!important; }
.mgnBtm5            { margin-bottom:5px!important; }
.mgnBtm10           { margin-bottom:10px!important; }
.mgnBtm15           { margin-bottom:15px!important; }
.mgnBtm20           { margin-bottom:20px!important; }
.mgnBtm25           { margin-bottom:25px!important; }
.mgnBtm30           { margin-bottom:30px!important; }
.mgnBtm35           { margin-bottom:35px!important; }
.mgnBtm40           { margin-bottom:40px!important; }
.mgnBtm45           { margin-bottom:45px!important; }
.mgnBtm50           { margin-bottom:50px!important; }

.mgnLft0            { margin-left:0px!important; }
.mgnLft5            { margin-left:5px!important; }
.mgnLft10           { margin-left:10px!important; }
.mgnLft15           { margin-left:15px!important; }
.mgnLft20           { margin-left:20px!important; }
.mgnLft25           { margin-left:25px!important; }
.mgnLft30           { margin-left:30px!important; }
.mgnLft35           { margin-left:35px!important; }
.mgnLft40           { margin-left:40px!important; }
.mgnLft45           { margin-left:45px!important; }
.mgnLft50           { margin-left:50px!important; }

.mgnRgt0            { margin-right:0px!important; }
.mgnRgt5            { margin-right:5px!important; }
.mgnRgt10           { margin-right:10px!important; }
.mgnRgt15           { margin-right:15px!important; }
.mgnRgt20           { margin-right:20px!important; }
.mgnRgt25           { margin-right:25px!important; }
.mgnRgt30           { margin-right:30px!important; }
.mgnRgt35           { margin-right:35px!important; }
.mgnRgt40           { margin-right:40px!important; }
.mgnRgt45           { margin-right:45px!important; }
.mgnRgt50           { margin-right:50px!important; }

/* -------------------------------------------------------------------------- */
/* padding */
.padNone            { padding:0!important; }

.padTop0            { padding-top:0px!important; }
.padTop5            { padding-top:5px!important; }
.padTop10           { padding-top:10px!important; }
.padTop15           { padding-top:15px!important; }
.padTop20           { padding-top:20px!important; }
.padTop25           { padding-top:25px!important; }
.padTop30           { padding-top:30px!important; }
.padTop35           { padding-top:35px!important; }
.padTop40           { padding-top:40px!important; }
.padTop45           { padding-top:45px!important; }
.padTop50           { padding-top:50px!important; }

.padBtm0            { padding-bottom:0px!important; }
.padBtm5            { padding-bottom:5px!important; }
.padBtm10           { padding-bottom:10px!important; }
.padBtm15           { padding-bottom:15px!important; }
.padBtm20           { padding-bottom:20px!important; }
.padBtm25           { padding-bottom:25px!important; }
.padBtm30           { padding-bottom:30px!important; }
.padBtm35           { padding-bottom:35px!important; }
.padBtm40           { padding-bottom:40px!important; }
.padBtm45           { padding-bottom:45px!important; }
.padBtm50           { padding-bottom:50px!important; }

.padLft0            { padding-left:0px!important; }
.padLft5            { padding-left:5px!important; }
.padLft10           { padding-left:10px!important; }
.padLft15           { padding-left:15px!important; }
.padLft20           { padding-left:20px!important; }
.padLft25           { padding-left:25px!important; }
.padLft30           { padding-left:30px!important; }
.padLft35           { padding-left:35px!important; }
.padLft40           { padding-left:40px!important; }
.padLft45           { padding-left:45px!important; }
.padLft50           { padding-left:50px!important; }

.padRgt0            { padding-right:0px!important; }
.padRgt5            { padding-right:5px!important; }
.padRgt10           { padding-right:10px!important; }
.padRgt15           { padding-right:15px!important; }
.padRgt20           { padding-right:20px!important; }
.padRgt25           { padding-right:25px!important; }
.padRgt30           { padding-right:30px!important; }
.padRgt35           { padding-right:35px!important; }
.padRgt40           { padding-right:40px!important; }
.padRgt45           { padding-right:45px!important; }
.padRgt50           { padding-right:50px!important; }


/* ==========================================================================
   Helper classes
   Author: JX 20120127 (Adapted from HTML5 Boilerplate 4)
   ========================================================================== */

/* Image replacement */
.ir { background-color:transparent; border:0; overflow:hidden; *text-indent:-9999px;/* IE 6/7 fallback */ }
.ir:before { content:""; display:block; width:0; height:150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display:none!important; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { position:absolute; width:1px; height:1px; margin:-1px; padding:0; overflow:hidden; border:0; clip:rect(0 0 0 0); }

/* Extends the .visuallyhidden class to allow the element to be focusable
   when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { position:static; width:auto; height:auto; margin:0; overflow:visible; clip:auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden; }

/* Clearfix */
.clearfix:before,
.clearfix:after { content:" "; /* 1 */ display:table; /* 2 */ }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; } /* For IE 6/7 only */

/* Clearer */
.clearer { float:none; clear:both; height:0; line-height:0; overflow:hidden; visibility:hidden; }
.clear { clear:both; }


/* ==========================================================================
   Debug Styles
   Author: JX 20120127
   ========================================================================== */

/* common */
.debug code         { display:inline-block; margin:0 0 20px 0; padding:0 10px; clear:both;
                      color:#fff; background:#CC9; text-shadow:0 1px 0px rgba(0,0,0,0.2);
                      font-size:11px; font-weight:bold; line-height:20px; 
                      border-radius:10px;   box-shadow:inset 0 1px 1px rgba(0,0,0,0.2); }
.debug h1,
.debug h2,
.debug h3,
.debug h4,
.debug h5           { background-color:rgba(0,255,0,0.1);   outline:1px solid green; }
.debug p,
.debug li           { background-color:rgba(255,255,0,0.1); outline:1px solid gold;  }
.debug a            { background-color:rgba(0,0,255,0.1);   outline:1px solid blue;  }
.debug span,
.debug i            { background-color:rgba(255,0,0,0.1);   outline:1px solid red;   }
.debug div          { background-color:rgba(0,0,0,0);       outline:1px solid #0ff;  }

/* IE fallback */
.oldie.debug h1,
.oldie.debug h2,
.oldie.debug h3,
.oldie.debug h4,
.oldie.debug h5 { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1900FF00, endColorstr=#1900FF00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#1900FF00, endColorstr=#1900FF00);
    zoom:1; }
.oldie.debug p,
.oldie.debug li { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFF00, endColorstr=#19FFFF00);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FFFF00, endColorstr=#19FFFF00);
    zoom:1; }
.oldie.debug a  { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#190000FF, endColorstr=#190000FF);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#190000FF, endColorstr=#190000FF);
    zoom:1; }
.oldie.debug span,
.oldie.debug i  { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FF0000, endColorstr=#19FF0000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#19FF0000, endColorstr=#19FF0000);
    zoom:1; }
.oldie.debug div { 
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000, endColorstr=#07000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#07000000, endColorstr=#07000000);
    zoom:1; }

/* debugInfo */
#debugInfo {
    position:fixed; top:0; left:0; width:auto; height:30px; margin:0; padding:0 10px; overflow:hidden; z-index:10000;
    color:#ff0; background:rgba(0,0,0,0.7);
    font-size:12px; font-weight:bold; line-height:30px; text-align:center; text-transform:uppercase; }
#debugInfo:before   { content:''; }
#debugInfo:after    { content:'w: 'attr(data-width); } /*popped by JS*/
.oldie #debugInfo   { background:#000; }


/* ==========================================================================
   Media Queries Examples
   ========================================================================== */
@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}